@charset "utf-8";
@import url('reset.css');




.skip{display: none;}
.container{position: relative; padding-top: 90px;} 
.contents_full {margin: auto;}
.contents_01{    margin: 0 auto;    width: 1240px;    /* min-height: calc(100vh - 100px); */} 
.contents_02{    margin: 0 auto; padding: 0 20px;    width: 1240px;    /* min-height: calc(100vh - 110px); */} 
.contents_03{    margin: 0 auto;  width: 600px;    /* min-height: calc(100vh - 110px); */} 
.program_content01{padding-bottom: 110px;} 

/* nav */
.header_wrap{width: 100%;  z-index: 100; background-color: #fff;left: 0;  position: fixed; top: 0;}
.header{display: flex; height: 90px; background-color: #fff; justify-content: center;}
.header_wrap .inner{background-color: #fff;max-width: 1920px; min-width: 1240px; width: 100%;display: flex; justify-content: space-between; align-items: center; padding: 0 100px;  height: 90px;  height: 90px; position: fixed; top: 0;}
.header_wrap .header_nav ul{display: flex; gap: 100px;}
.header_wrap .header_nav ul li a{color: #111;    font-size: 18px;    font-weight: 700;    letter-spacing: -0.36px;}
.header_wrap .h_information_wrap {display: flex; align-items: center; gap: 16px; justify-content: space-between;}
.header_wrap .h_information_wrap a{color: #333;    font-size: 16px;    font-weight: 400;    letter-spacing: -0.32px;}


/* 푸터 */
.footer{width: 100%; background-color: #1D1D1D ;}
.footer_text_wrap{width: 1280px; margin: auto; padding: 50px 40px; }
.footer_text_contents_01{display: flex; gap: 24px; align-items: center; }
.footer_text_contents_01 img{width: 1px; height: 15px; }
.footer_text_contents_02 img{width: 1px; height: 15px; }
.footer_text_contents_01 a{color: #FFF;    font-size: 16px;    font-weight: 600;    letter-spacing: -0.32px; }
.footer_text_contents_02{display: flex; gap: 16px; align-items: center;}
.footer_text_contents_02 p,.footer_copyright{color: #888;    font-size: 15px;    font-weight: 400;    letter-spacing: -0.3px;}

/* button */
.btn_type01{border-radius: 5px; vertical-align:middle; background-color: #294a9b; width: 124px; height: 100px; color: #FFF; font-family: Pretendard;    font-size: 18px;    font-weight: 500;    letter-spacing: -0.36px;}
.btn_type02{border-radius: 50px; border:1px solid #555; padding: 10px 34px;color: #222;    font-size: 18px;    font-weight: 500;    line-height: 27px;    letter-spacing: -0.36px;}
.btn_type03{border-radius: 5px;background-color: #294A9B; padding: 10px 34px;color: #FFF; font-family: Pretendard;    font-size: 18px;    font-weight: 700;    line-height: 36px;    letter-spacing: -0.36px;}
.btn_type04{border-radius: 4px;width: 100%; text-align: center; height: 60px; background-color: #294A9B; padding: 18px; color: #FFF;     font-size: 18px;    font-weight: 600;    line-height: 24px;    letter-spacing: -0.36px;}
.btn_type05{border-radius: 4px;width: 100%; color: #294A9B; border: 1px solid #294A9B; text-align: center; height: 60px; background-color: #fff; padding: 18px;   font-size: 18px;    font-weight: 600;    line-height: 24px;    letter-spacing: -0.36px;}
.btn_type06{border-radius: 4px; text-align: center; height: 48px; background-color: #294A9B; padding: 12px 24px; color: #FFF;     font-size: 16px !important;    font-weight: 600;    line-height: 24px;    letter-spacing: -0.36px;}
.btn_type07{border-radius: 4px; text-align: center; height: 48px; background-color: #294A9B; padding: 12px 45px; color: #FFF;     font-size: 16px !important;    font-weight: 600;    line-height: 24px;    letter-spacing: -0.36px;}
.btn_type08{border-radius: 4px; text-align: center; height: 56px; background-color: #294A9B; padding: 16px 24px; color: #FFF;     font-size: 16px !important;    font-weight: 400;    line-height: 24px;    letter-spacing: -0.36px;}
.btn_type10{padding:10px 24px;    font-size: 16px;    font-weight: 500;    border-radius: 4px;    color: #333;    background: #fff;    border: 1px solid #ddd;}
.btn_type10:hover {background:#d8d8d8}


/* wid */

.sel_wid158{width: 158px !important;}
.sel_wid206{width: 206px !important;}
.sel_wid240{width: 240px !important;}

/* main */

.main_banner_swiper{position: relative; transform: translateX(-50%);left: 50%;min-width: 1920px;  width: 100%;border-radius: 50px; overflow: hidden; max-height: 910px; padding: 0 60px;}
.main_banner_swiper .mainbannerswiper{max-height: 910px; border-radius: 50px;}
.main_banner_swiper .swiper-button-next:after {color: transparent; background-image: url(../../images/pc/next.png);background-size: cover; width: 30px; height: 60px;  font-size: 60px;  }
.main_banner_swiper .swiper-button-prev:after {color: transparent; background-image: url(../../images/pc/prev.png);background-size: cover; width: 30px; height: 60px;  font-size: 60px;  }
.main_banner_swiper .swiper-button-next,.main_banner_swiper .swiper-rtl .swiper-button-prev{right: 400px; transform: translateY(50%); height: 60px;}
.main_banner_swiper .swiper-button-prev,.main_banner_swiper .swiper-rtl .swiper-button-next{left: 400px; transform: translateY(50%); height: 60px;}
.main_banner_title{position: absolute; top: 190px; left: 50%; transform: translateX(-50%);width: 1240px; padding: 0 20px; }
.main_banner_title h2{color: #FFF;    font-size: 70px;    font-weight: 700;    line-height: 80px;    letter-spacing: -1.4px;}
.main_banner_title p{color: #FFF; margin-top: 24px;   font-size: 20px;    font-weight: 600;    line-height: 30px;    letter-spacing: -0.4px;}
.main_banner_title button{position: relative; margin-top: 40px;   color: #FFF;font-size: 18px;font-weight: 500;letter-spacing: -0.36px;    padding: 19px 76px 19px 27px; border-radius: 50px; border: 2px solid #fff;}
.main_banner_title button::after{content: ""; background-image: url(/images/pc/button_arrow.svg);width:31px; right: 32px; height: 9px; background-size: cover;  position: absolute; top: 50%; transform: translateY(-50%); }

.main_start_box_wrap{padding: 20px; border-radius: 20px; display: flex; gap:11px ; background-color: #fff;}
.main_start_box{display: flex;align-items: center; justify-content: space-between; flex: 0.5; border-radius: 10px; padding: 40px 50px; background-color:#F0F4FA ; height: 195px; border:1px solid #eee}
.main_start_box_left01 h2{color: #222;    font-size: 24px;    font-weight: 600;    line-height: 36px;    letter-spacing: -0.48px;}
.main_start_box_left01 p{color: #000; margin-top: 12px;    font-size: 18px;    font-weight: 400;    letter-spacing: -0.36px;}
.input_col{display: flex;}
.input_row{display: flex; flex-direction: column;}
.text_clear_inpt_54{color: #333;    font-weight: 400;    letter-spacing: -0.32px;    line-height: 24px;    padding: 15px 16px;    height: 54px;    font-size: 16px;    background: #fff;    border: 1px solid #dddddd;    border-radius: 4px;    width: 100%;}
.main_box_left02_title{ width: 100px; display: flex; align-items: center;}
.main_box_left02_title h2{text-align: left; color: #222;   font-size: 18px;    font-weight: 600;    line-height: normal;    letter-spacing: -0.36px;}


.main_notice_box_wrap{padding: 0 20px;}
.main_notice_box_head{display: flex; justify-content: space-between;} 
.main_notice_box_title{display: flex; align-items: center;}
.main_notice_box_title h2{color: #222;    font-size: 42px;    font-weight: 600;    line-height: 72px;     letter-spacing: -0.84px;    text-transform: capitalize;}
.main_notice_box_title p{color: #222; margin-left: 24px;   font-size: 22px;    font-weight: 400;    line-height: 32px;    letter-spacing: -0.44px;}
.main_notice_box_mid{ display: flex; flex-wrap:flex ;justify-content: space-between;  gap: 30px;}
.main_notice_mid_card{border-radius: 20px;padding: 30px; transition: all 0.1s; border: 1px solid #ccc;  height: 236px; background-color: #fff;}
.main_notice_mid_card:hover {border: 3px solid #294a9b;}
.main_notice_mid_card_head h2{color: #222;    font-size: 24px;    font-weight: 700;    line-height: 36px;    letter-spacing: -0.48px;}
.main_notice_mid_card:hover .main_notice_mid_card_head h2{color: #294A9B;}
.main_notice_mid_card_mid p{color: #000; margin-top: 20px;   font-size: 18px;    font-weight: 400;    line-height: 28px;    letter-spacing: -0.36px;}
.main_notice_mid_card_foot span{color: #999;   font-size: 16px;    font-weight: 400;    line-height: 24px;    letter-spacing: -0.32px;}

.sub_top_banner_wrap{padding: 0 60px;}
.sub_top_banner{position: relative; width: 100%; min-width: 1100px; background-image: url(../../images/pc/program_top.png); background-size: cover;background-position: center; height: 200px; border-radius: 30px; }
.sub_top_banner h2{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);color: #FFF;font-size: 36px;    font-weight: 700;    letter-spacing: -0.72px; }
.sub_top_banner02{position: relative; width: 100%; min-width: 1100px; background-image: url(../../images/pc/comunity.png); background-size: cover; background-position: center; height: 200px; border-radius: 30px; }
.sub_top_banner02 h2{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);color: #FFF;font-size: 36px;    font-weight: 700;    letter-spacing: -0.72px; }
.sub_top_banner03{position: relative; width: 100%; min-width: 1100px; background-image: url(../../images/pc/notice.png); background-size: cover; background-position: center; height: 200px; border-radius: 30px; }
.sub_top_banner03 h2{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);color: #FFF;font-size: 36px;    font-weight: 700;    letter-spacing: -0.72px; }


/* program */

.program_tabs.ui-widget.ui-widget-content{border: 1px solid transparent;}
.program_tabs .ui-widget-header{ background: #F8F9FB; width: 230px; height: 52px; position: relative; border-radius: 100px;padding: 0px !important; border: 2px solid #EEE; }
.program_tabs .ui-state-default,.program_tabs .ui-widget-content .ui-state-default,.program_tabs .ui-widget-header .ui-state-default,.program_tabs .ui-button,.program_tabs .ui-button.ui-state-disabled:hover,.program_tabs .ui-button.ui-state-disabled:active{ text-align: center; border: 1px solid transparent;}
.program_tabs .ui-tabs-nav .ui-tabs-anchor{width: 115px; height: 48px;}
.program_tabs .ui-tabs .ui-tabs-nav{}
.program_tabs .tabsContainer li{margin: 0px !important; padding: 0 !important; width: 115px; height: 48px;}
.program_tabs .tabsContainer{ border: 2px solid #EEE; margin: 0px !important; position: relative; display: flex; justify-content: center;}
.program_tabs .tabsContainer .active_back{transition: all 0.2s ease-in-out; background-color: #294A9B; width: 115px; height:100%; border-radius: 100px; content: ""; position: absolute; top: 0; left: 0px;}
.program_tabs .tabsContainer li a{display: block; width: 115px; height: 48px; width: 100%; height: 100%;color: #888;    text-align: center;    font-size: 18px;    font-weight: 600;    line-height: 32px;    letter-spacing: -0.36px; padding: 0px !important;line-height: 46px; }
.program_tabs .ui-state-active,.program_tabs .ui-widget-content .ui-state-active,.program_tabs .ui-widget-header .ui-state-active,.program_tabs a.ui-button:active,.program_tabs .ui-button:active,.program_tabs .ui-button.ui-state-active:hover{ background-color: transparent;}
.program_tabs .ui-state-active a,.program_tabs .ui-state-active a:link,.program_tabs .ui-state-active a:visited{transition: all 0.2s; color: #FFF;font-size: 18px;    font-weight: 700;    line-height: 32px;    letter-spacing: -0.36px;}
.program_tabs .ui-state-active a, .program_tabs .ui-state-active a:link, .program_tabs .ui-state-active a:visited{line-height: 46px;}
.program_tabs .ui-state-default,.program_tabs .ui-widget-content .ui-state-default,.program_tabs .ui-widget-header .ui-state-default,.program_tabs .ui-button,.program_tabs .ui-button.ui-state-disabled:hover,.program_tabs .ui-button.ui-state-disabled:active{ background-color: transparent;}
.program_content_title{color: #111;    font-size: 24px;    font-weight: 600;    line-height: 36px;    letter-spacing: -0.48px;}
.program_notice{width: 100%; border:1px solid #ddd; margin-top: 23px; }
.program_notice_content{text-align: center; padding: 41px 0 24px 0;}
.program_notice_content li{color: #333;text-align: center;    font-size: 18px;    font-weight: 400;    line-height: 36px;    letter-spacing: -0.36px;}
.program_notice_button_bg{display: flex; align-items: center; justify-content: center; width: 100%; padding: 42px 0; background-color: #F0F4FA;}
.program_notice_button_bg p{color: #111;    font-size: 22px;    font-weight: 600;    line-height: 28px;    letter-spacing: -0.44px;}
.program_table_wrap h2{color: #111;    font-size: 22px;    font-weight: 500;    line-height: 36px;    letter-spacing: -0.44px;}

.program_table01 .border_b_line{ border-bottom: 1px solid #ddd;}
.program_table01 .border_b_line02{ border-bottom: 1px solid #888;}
.program_table01 th{ background-color: #f4f4f4; padding: 8px 0 ; text-align: center;color: #333;font-size: 18px;    font-weight: 600;    line-height: 32px;    letter-spacing: -0.36px;}
.program_table01 td{border: 1px solid #ddd; padding: 16px; text-align: center; }
.program_table01 td{color: #333;    font-size: 18px;    font-weight: 400;    line-height: 30px;    letter-spacing: -0.36px; }
.program_table01 tbody tr:nth-child(1) td{border-top: 1px solid transparent; }
.program_table01 thead tr:nth-child(1) th{border-top: 1px solid #333; border-left: 1px solid #ddd; border-right: 1px solid #ddd; }
.program_table01 thead tr th:nth-child(1){border-left: 1px solid transparent;}
.program_table01 thead tr th:nth-last-child(1){border-right: 1px solid transparent;}
.program_table01 td:nth-child(1){border-left: 1px solid transparent; }
.program_table01 td:nth-last-child(1){border-right: 1px solid transparent; }
.program_img01_area{text-align: center;}
.program_img01_area img{ width: auto;}

.program_table02 th{background-color:#F4F4F4 ; color: #333;    font-size: 18px;    font-weight: 600;    line-height: 32px;    letter-spacing: -0.36px;}
.program_table02 td{padding: 24px 34px;}
.program_table02 tr{border-bottom: 1px solid #ddd;}
.program_table02 tr:nth-child(1){border-top: 1px solid #333;}
.program_table02 tr:nth-last-child(1){border-bottom: 1px solid #333;}
.program_table02 td h2{color: #333;    font-size: 18px;    font-weight: 600;    line-height: 30px;    letter-spacing: -0.36px;}
.program_table02 td p{color: #333;    font-size: 18px;    font-weight: 400;    line-height: 30px;    letter-spacing: -0.36px;}
.program_table_imgbox img{width: auto;}
.program_table_textlist{ padding-left: 16px;}
.program_table_textlist li{position: relative;}
.program_table_textlist li::after{content: ""; width: 4px; height: 4px; background-repeat: no-repeat; background-position: center; background-image: url(../../images/pc/Ellipse.png); background-size: cover; position: absolute; top: 12px; left: -14px;}






/* login */

.login_tilte{color: #111;    text-align: center;    font-size: 36px;    font-weight: 700;    line-height: 36px;    letter-spacing: -0.72px;}

.login_text{color: #555;  text-align: center;    font-size: 18px;    font-weight: 400;    line-height: 30px;    letter-spacing: -0.36px;}
.input_box input{color: #333;    font-weight: 300;    letter-spacing: -0.32px;    line-height: 24px;    padding: 16px;    height: 56px;    font-size: 16px;    background: #fff;    border: 1px solid #dddddd;    border-radius: 4px;width: 100%;}
.login_join_id{display: flex; justify-content: center; align-items: center; gap: 8px;  }
.login_join_id a{color: #555;    font-size: 16px;    font-weight: 400;    line-height: 24px;    letter-spacing: -0.32px; }
.login_join_id img{width:auto; height: 11px;}
.login__point_text01{width: 100%; display: block; color: #294A9B;    text-align: center;    font-size: 24px;    font-weight: 600;    line-height: 36px;    letter-spacing: -0.48px;}
.login_text02{color: #333;    text-align: center;    font-size: 18px;    font-weight: 400;    line-height: 30px;     letter-spacing: -0.36px;}
.login_terms_title label{color: #333;    font-size: 18px;    font-weight: 600;    line-height: 24px;    letter-spacing: -0.36px;}
.login_terms_text{padding-left:31px;color: #555;    font-size: 15px;    font-weight: 400;    line-height: 24px;    letter-spacing: -0.3px;}
.login_terms_contents02{ background-color:#F7F7F7;border-radius: 4px; padding: 16px 53px 16px 48px;}
.login_terms_contents02 p{max-height: 300px; overflow: auto; color: #555;    font-size: 15px;    font-weight: 400;    line-height: 24px;    letter-spacing: -0.3px;}

.input_title.type01{width: 150px;}
.input_title.type01 h2{color: #333;font-size: 18px;    font-weight: 600;    line-height: 24px;    letter-spacing: -0.36px;}
.contents_03 .sub_title{color: #333;    text-align: center;    font-size: 28px;    font-weight: 700;    line-height: 36px;     letter-spacing: -0.56px;
    }


/* chek box */
.bx_chk {position:relative;}
input[type="checkbox"] {position:absolute;left:0;top:0;margin:-1px;padding:0;width:1px;height:1px;clip:rect(0,0,0,0);overflow:hidden}
.chk_ty1 + label {padding-left:31px;color: #333;    font-size: 18px;    font-weight: 600;    line-height: 24px;    letter-spacing: -0.36px;}
.chk_ty1 + label:before {content:'';display:block;position:absolute;left:0;top:2px;width:20px;height:20px;background-image:url('../../images/pc/icon_chk_defualt02.png');background-repeat:no-repeat;background-position:left top;background-size:100%}
.chk_ty1:checked + label:before {background-image:url('../../images/pc/icon_chk_chked02.png')}
.chk_ty1:disabled + label:before {background-image:url('../../images/pc/icon_chk_dis02.png')}
.chk_ty1:checked:disabled + label:before {background-image:url('../../images/pc/icon_chk_chked_dis02.png')}

/* select */
.sel_typ2{background-color: #fff; position: relative;}
.sel_typ2 .icoArrow {  position: absolute;   top: 0;   right: 0;   z-index: 1;   width: 56px;   height: 56px;background-repeat: no-repeat;background-position: center;background-size: 16px;  display: flex;  transition: .3s;   justify-content: center;  align-items: center;  background-image: url(../../../images/pc/icon_arr_gray4.svg);}
.sel_typ2 select{width: 100%; height: 56px; font-size: 16px; font-weight: 400;  background-color: transparent;  position: relative;  z-index: 3;  color: #555;  border: 1px solid #dddddd;  border-radius: 4px;   padding: 6px 46px 6px 16px}
.sel_typ2 select:focus{  border: 1px solid #294A9B;}

.sel_typ3{background-color: #fff; position: relative;}
.sel_typ3 .icoArrow {  position: absolute;   top: 0;   right: 0;   z-index: 1;   width: 40px;   height: 40px;background-repeat: no-repeat;background-position: center;background-size: 16px;  display: flex;  transition: .3s;   justify-content: center;  align-items: center;  background-image: url(../../../images/pc/arrow16_down.svg);}
.sel_typ3 select{width: 100%; height: 48px; font-size: 16px; font-weight: 400;  background-color: transparent;  position: relative;  z-index: 3;  color: #555;  border: 1px solid #dddddd;  border-radius: 4px;   padding: 6px 28px 6px 16px}
.sel_typ3 select:focus{  border: 1px solid #294A9B;}

/* input */
.inp_text{padding:16px; height: 56px; border: 1px solid #DDD; border-radius: 4px; font-size: 16px; font-weight: 400;    line-height: 24px;    letter-spacing: -0.32px; }
.inp_text::placeholder{font-weight: 300;    line-height: 24px;    letter-spacing: -0.32px; color: #999; }
.textarea_text{padding:16px; height: 224px; overflow: auto; border: 1px solid #DDD; border-radius: 4px; font-size: 16px; font-weight: 400;    line-height: 24px;    letter-spacing: -0.32px; }
.textarea_text::placeholder{font-weight: 300;    line-height: 24px;    letter-spacing: -0.32px; color: #999; }

.inp_text_48{ padding: 6px  16px; height: 48px; border: 1px solid #DDD; border-radius: 4px; font-size: 16px; font-weight: 400;    line-height: 24px;    letter-spacing: -0.32px; }
.inp_text_48::placeholder{font-weight: 300;    line-height: 24px;    letter-spacing: -0.32px; color: #555; }

/* tab */
.tab_button {position: relative;}
.tab_button::after {position: absolute; width: 100%; height: 1px; background-color: #294A9B; content: ""; bottom: 0px;}
.tab_button_style01{z-index: 1; width: 166px;border-bottom: 1px solid #294A9B; height: 54px; display: flex;  justify-content: center; align-items: center;  background-color: #F4F4F4; border-radius: 4px 4px 0px 0px; }
.tab_button_style01 a{color: #555;    text-align: center;    font-size: 18px;    font-weight: 400;    line-height: 36px;    letter-spacing: -0.36px; }
.tab_button_style01.on{background-color: #fff;border-top: 1px solid #294A9B;
    border-right: 1px solid #294A9B;
    border-left: 1px solid #294A9B; 
    border-bottom: 1px solid transparent;}
.tab_button_style01.on a{color: #294A9B; font-weight: 700;}
.tab_cont02{display: none;}

.tab_cont02.on{display: block;}


/* community */

.total_wrqp h2{color: #000;    font-size: 15px;    font-weight: 400;    line-height: 30px;    letter-spacing: -0.3px;}
.total_wrqp p{color: #294A9B;    font-size: 15px;    font-weight: 600;    line-height: 30px;    letter-spacing: -0.3px;}

.board_category li{color: #555;    font-size: 15px;  font-weight: 400;  font-weight: 400;    line-height: 24px;    letter-spacing: -0.3px;}
.board_category li.on a{color: #111; font-weight: 600;}
.card_board_area{display: flex; flex-wrap: wrap; gap: 30px; width: 1200px;}
.card_board_area .card{width: 380px;box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10); height: 458px;overflow: hidden; border-radius:20px;background: #FFF; }
.card_board_area .card .card_head{width: 100%; height: 240px; }
.card_board_area .card .card_body{width: 100%; height: 218px; padding: 32px; }
.card_board_area .card .card_body .card_content h2{color: #333;    font-size: 22px;    font-weight: 600;    line-height: 30px;    letter-spacing: -0.44px; }
.card_board_area .card .card_body .card_content p{ color: #555;    font-size: 16px;    font-weight: 400;    line-height: 28px;    letter-spacing: -0.32px;}
.card_board_area .card .card_body .card_content span{color: #555; display: block;   font-size: 16px;    font-weight: 400;    line-height: 30px;    letter-spacing: -0.32px; }
.card_board_area .card .card_head .card_head_img{width: 100%; height: 100%; background-image: url(../../images/pc/community.png);background-repeat: no-repeat; background-position: top center; background-size: cover; }
.card_board_area .card .card_head .card_head_img.video01{position: relative; background-image: url(../../images/pc/video.png);}
.card_board_area .card .card_head .card_head_img.video01::after{content: ""; position: absolute; cursor: pointer; top: 50%; left: 50%; transform: translate(-50%, -50%); background-image: url(../../images/pc/play_no.svg); background-size: cover; width: 70px; height: 70px;}


/* paging02 */

.paging02 {margin-top:24px;color:#323232;font-size:14px;font-weight: 400; text-align:center}
.paging02 a {display:inline-block;vertical-align:middle}
.paging02 > a {position:relative;width:30px;height:30px}
.paging02 .prev {margin-right:20px;border: 1px solid #ddd;width: 36px; height: 36px; border-radius: 4px; background:url('../../images/pc/ico16_arrow_left.svg') no-repeat center;background-size:16px auto}
.paging02 .prev:hover, .paging02 .prev:focus {background-color: #ddd;}
.paging02 .next {margin-left:20px;border: 1px solid #ddd;width: 36px; height: 36px; border-radius: 4px; background:url('../../images/pc/ico16_arrow_right.svg') no-repeat center;background-size:16px auto}
.paging02 .next:hover, .paging02 .next:focus {background-color: #ddd;}
.paging02 .first {border: 1px solid #ddd;width: 36px; height: 36px; border-radius: 4px; background:url('../../images/pc/ico16_arrow_left_double.svg') no-repeat center;background-size:16px auto}
.paging02 .first:hover, .paging02 .first:focus { background-color: #ddd;}
.paging02 .last {border: 1px solid #ddd;width: 36px; height: 36px; border-radius: 4px; background:url('../../images/pc/ico16_arrow_right_double.svg') no-repeat center;background-size:16px auto}
.paging02 .last:hover, .paging02 .last:focus {background-color: #ddd;}
.paging02 .prev:after {right:-14px}
.paging02 .next:after {left:-14px}
.paging02_num {display:inline-block;vertical-align:middle}
.paging02_num:after {content:'';display:block;clear:both}
.paging02_num > li {float:left}
.paging02_num > li > a {position:relative; width: 36px; height: 36px; color:#333;font-size:14px;font-weight: 300; line-height:36px}
.paging02_num > li > a:hover:after {content:'';display:block;position:absolute;left:50%; bottom:1px;transform:translateX(-50%);width:calc(100% - 20px);height:1px;background:#294A9B}
.paging02_num > li > a:focus, .paging02_num > li > a.on {font-weight:500; background-color: #294A9B; border-radius: 4px; color: #fff;}

/* radio02 */
input[type="radio"].radio_ty2:disabled {position:relative;width:24px;height:24px;border-radius:50%;background:url('../../images/pc/radio_type02_disabled.svg') no-repeat;background-position:0 0;background-size:100% auto;vertical-align:middle}
input[type="radio"].radio_ty2 {position:relative;width:24px;height:24px;border-radius:50%;background:url('../../images/pc/radio_type02.png') no-repeat;background-position:0 0;background-size:100% auto;vertical-align:middle}
input[type="radio"].radio_ty2:checked {background-position:0 -24px}
input[type="radio"].radio_ty2:checked:disabled {background-position:0; background: url('../../images/pc/radio_type02_disabled_selected.svg');}
input[type="radio"].radio_ty2 + label {font-size:18px;vertical-align:middle ;color: #333;font-weight: 400;line-height: 24px;letter-spacing: -0.36px; }
.bx_radio02 label + .radio_ty2 {margin-left:45px}
.bx_radio02 .radio_ty2 + label{margin-left: 4px;}


/*  */

.announcement_title h2{color: #111;    font-size: 24px;    font-weight: 700;    letter-spacing: -0.48px;}
.announcement_title p{width: 100%; text-align: end; color: #555;    font-size: 15px;    font-weight: 400;    line-height: 24px;   letter-spacing: -0.3px;}
.announcement_line{width: 100%; height: 2px; background-color: #333;}
.announcement_line03{width: 100%; height: 1px; background-color: #333;}
.announcement_line02{width: 100%; height: 1px; background-color: #ddd;}
.announcement_table th{ background-color: #F8F8F8; padding: 29px; text-align: center;}
.announcement_table th h2{color: #333;    font-size: 18px;    font-weight: 600;    line-height: 24px;    letter-spacing: -0.36px;}
.announcement_table td{padding: 12px 24px;}
.announcement_table tr{border-bottom: 1px solid #ddd;}

/*  */
.filebox label {  margin-left: 12px;    display:block; cursor: pointer;    border-radius: 4px; text-align: center; height: 56px; background-color: #294A9B; padding: 16px 24px; color: #FFF;     font-size: 16px !important;    font-weight: 400;    line-height: 24px;    letter-spacing: -0.36px;}
.filebox input[type="file"] {    position: absolute;    width: 0;    height: 0;    padding: 0;    overflow: hidden;    border: 0;  }
.filebox button{ height: 40px;   vertical-align: middle;border: 1px solid transparent; background-color: transparent;}

/*  */
.view_details_head{ padding: 24px; } 
.view_details_head_text p{color: #333;    font-size: 16px;    font-weight: 400;    line-height: 24px;    letter-spacing: -0.32px;}   
.view_details_head img{ width: auto; height: 12px;}    
.view_details_head h2{color: #333;    font-size: 28px;    font-weight: 600;    line-height: 34px;    letter-spacing: -0.56px; }    
.view_details_body{ padding: 40px 24px 16px 24px;}
.view_details_file_title h2{ color: #333;    font-size: 18px;      font-weight: 600;    line-height: 28px; /* 155.556% */letter-spacing: -0.36px;}
.view_details_file{color: #333;    font-size: 18px;    font-weight: 400;    line-height: 28px;    letter-spacing: -0.36px;}
.view_details_bottom_wrap{padding: 16px 24px;}
