@charset "UTF-8";
/*!
 _ _  _
| | || | Interpark
| | || | INTERPARK UI Development Team
`___'|_| v1.10.0

*/
html {
  font-size: 14px;
}

body {
  background-color: #fff;
  font-weight: bold;
}

body * {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, Helvetica, "Apple SD Gothic Neo", sans-serif;
}

.blind {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}

button {
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 2px;
  cursor: pointer;
}

.iText {
  padding: 0 8px;
  height: 31px;
  font-size: 14px;
  border: 1px solid #dfe5ed;
  vertical-align: middle;
}

.iCheckbox,
.radioGroup {
  display: inline-block;
  position: relative;
}

.iCheckbox input[type="checkbox"],
.iCheckbox input[type="radio"],
.radioGroup input[type="checkbox"],
.radioGroup input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
  box-sizing: border-box;
}

.iCheckbox label,
.radioGroup label {
  display: inline-block;
  height: 22px;
  margin-right: 17px;
  color: #333;
  font-size: 14px;
  vertical-align: middle;
}

.iCheckbox {
  line-height: 20px;
  overflow: hidden;
  vertical-align: middle;
}

.iCheckbox input[type="checkbox"] {
  width: 22px;
  height: 22px;
  margin-top: -3px;
  margin-left: -3px;
}

.iCheckbox input[type="checkbox"]:checked + label {
  background: url("//openimage.interpark.com/.ui/join/checkbox_on.png") no-repeat 0 0;
}

.iCheckbox label {
  padding-left: 30px;
  background: url("//openimage.interpark.com/.ui/join/checkbox_off.png") no-repeat 0 0;
}

.iCheckbox label[for="marketing"] {
  font-size: 18px;
  font-weight: bold;
}

.iCheckbox label[for="benefitChk"] {
  font-weight: bold;
}

.radioGroup input[type="radio"]:checked + label:before {
  background: url("//openimage.interpark.com/.ui/join/radioButton_on.png") no-repeat 0 0;
}

.radioGroup label:before {
  display: inline-block;
  content: "";
  width: 19px;
  height: 19px;
  margin: -2px 9px 0 0;
  background: url("//openimage.interpark.com/.ui/join/radioButton_off.png") no-repeat 0 0;
  vertical-align: middle;
}

.joinWrapper {
  background-color: #fff;
  font-weight: bold;
  width: 980px;
  margin: 0 auto;
}

.welcomeContent h2 {
  height: 195px;
  padding-top: 20px;
  background: url("//openimage.interpark.com/.ui/join/bg_top_welcome.png") no-repeat right center;
  margin: 40px 0 50px;
}

.welcomeContent .privacyWrap {
  margin: 40px 0;
  padding-left: 10px;
}

.welcomeContent .privacyWrap .titleWrap {
  overflow: hidden;
}

.welcomeContent .privacyWrap .titleWrap h3 {
  font-size: 20px;
  display: inline-block;
}

.welcomeContent .privacyWrap .titleWrap .subTxt {
  display: inline-block;
  color: #999;
  font-size: 16px;
  margin-left: 5px;
}

.welcomeContent .privacyWrap .msgBox {
  font-size: 16px;
  margin: 10px 0 7px;
}

.welcomeContent .privacyWrap .privacyList li {
  color: #666;
}

.welcomeContent .choiceList {
  overflow: hidden;
}

.welcomeContent .choiceList li {
  float: left;
  margin-left: 20px;
}

.welcomeContent .choiceList li:first-child {
  margin: 0;
}

.joinWrap {
  margin-top: 30px;
  position: relative;
}

.joinWrap h2 {
  padding-left: 10px;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: normal;
  border-bottom: 2px solid #000;
}

.joinWrap .conTitle {
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 13px;
  font-weight: bold;
}

.joinWrap .conTitle i {
  color: #ef3f43;
}

.joinWrap .tableBox table {
  width: 100%;
  position: relative;
  table-layout: fixed;
  border-top: 1px solid #b6bdc7;
}

.joinWrap .tableBox table caption {
  display: none;
}

.joinWrap .tableBox table th,
.joinWrap .tableBox table td {
  text-align: left;
  line-height: 1.4;
  border-bottom: 1px solid #dfe5ed;
  word-break: break-word;
  font-size: 14px;
  font-weight: bold;
}

.joinWrap .tableBox table th {
  padding: 20px 20px;
  vertical-align: top;
  background: #f4f6f9;
  font-weight: bold;
}

.joinWrap .tableBox table th .essential {
  color: #ef3f43;
  vertical-align: middle;
  margin-right: 5px;
}

.joinWrap .tableBox table th .primary {
  color: #ef3f43;
  vertical-align: middle;
  margin-right: 5px;
}

.joinWrap .tableBox table td {
  vertical-align: middle;
  padding: 10px 20px;
  position: relative;
}

.joinWrap .tableBox table td select {
  height: 33px;
  line-height: 33px;
  width: 168px;
  border: 1px solid #dfe5ed;
}

.joinWrap .tableBox table td .phoneNumber .iText {
  width: 70px;
}

.joinWrap .tableBox table td .phoneNumber .customSelect {
  width: 80px;
}

.joinWrap .tableBox table td .mailArea {
  margin-bottom: 5px;
}

.joinWrap .tableBox table td .mailArea .iText {
  width: 150px;
}

.joinWrap .tableBox table td .mailArea .mailSelect {
  width: 168px;
}

.joinWrap .tableBox table td label {
  font-weight: normal;
}

.joinWrap .tableBox table td label i {
  font-size: 12px;
  font-weight: normal;
  color: #666;
}

.joinWrap .tableBox table td .infoLayerBox {
  display: none;
  position: absolute;
  top: 46px;
  left: 20px;
  padding: 15px;
  font-size: 12px;
  color: #999;
  border: 1px solid #333;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.joinWrap .tableBox table td .infoLayerBox .infoContent {
  font-size: 12px;
  background-color: #fff;
}

.joinWrap .tableBox table:after {
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background: #b6bdc7;
  position: absolute;
  left: 0;
  bottom: 0;
}

.joinWrap .tableBox .alertMessage {
  color: #ef3f43;
  font-size: 12px;
  margin-left: 5px;
  font-weight: normal;
}

.joinWrap .tableBox .btnblackCheck {
  display: inline-block;
  padding: 0 15px;
  height: 33px;
  margin-left: 5px;
  line-height: 33px;
  font-weight: normal;
  background: #333;
  color: #fff;
  border-radius: 2px;
  vertical-align: middle;
}

.joinWrap .addressWrapper {
  margin: 10px 0;
  overflow: hidden;
}

.joinWrap .addressWrapper .addrType {
  float: left;
  width: 45px;
}

.joinWrap .addressWrapper .addressWrap {
  float: left;
}

.joinWrap .addressWrapper .addressWrap .zipcodeBox .iText {
  width: 80px;
  margin-bottom: 4px;
}

.joinWrap .addressWrapper .addressWrap .addressBox .iText {
  width: 250px;
}

.joinWrap .birthWrap {
  display: inline-block;
}

.joinWrap .birthWrap .yearSelect {
  width: 82px;
}

.joinWrap .birthWrap .monthSelect,
.joinWrap .birthWrap .daySelect {
  width: 75px;
}

.joinWrap .birthWrap .birth_txt {
  margin: 0 7px 0 4px;
}

.joinWrap .genderWrap {
  display: inline-block;
}

.joinWrap .termsTitleWrap {
  margin-bottom: 6px;
  position: relative;
}

.joinWrap .termsTitleWrap .subTitle {
  font-size: 14px;
  background-color: #fff;
}

.joinWrap .termsTitleWrap .subTitle i {
  color: #ef3f43;
  margin-left: -2.5px;
}

.joinWrap .termsTitleWrap .iCheckbox {
  vertical-align: -5px;
}

.joinWrap .termsTitleWrap .iCheckbox label {
  margin-right: 0;
}

.joinWrap .termsTitleWrap .iCheckbox i {
  color: #ef3f43;
  margin-left: -2.5px;
}

.joinWrap .termsTitleWrap .btnAllTerms {
  font-weight: normal;
  color: #999;
  margin-left: 5px;
  padding-right: 9px;
  background: url("//openimage.interpark.com/.ui/join/icon_arrowGray.png") no-repeat right 7px;
  font-size: 14px;
  background-color: #fff;
}

.joinWrap .allTermsWrap {
  display: inline-block;
  float: right;
}

.joinWrap .allTermsWrap .btnAllTerms {
  font-weight: normal;
  color: #999;
  margin-left: 5px;
  padding-right: 9px;
  background: url("//openimage.interpark.com/.ui/join/icon_arrowGray.png") no-repeat right 7px;
  font-size: 14px;
  background-color: #fff;
  vertical-align: -2px;
}

.joinWrap .terms_serviceBox {
  height: 118px;
  margin-bottom: 26px;
  border: 1px solid #bababa;
  clear: both;
}

.joinWrap .terms_serviceBox iframe {
  height: 100%;
  width: 100%;
}

.joinWrap .tooltipWrap {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.joinWrap .tooltipWrap .btn_tip {
  display: inline-block;
  width: 18px;
  height: 18px;
  text-indent: -999em;
  background: url("//openimage.interpark.com/.ui/join/icon_caution.png") no-repeat 0 0;
  overflow: hidden;
}

.joinWrap .tooltipWrap .tipLayerBox {
  display: none;
  position: absolute;
  top: -10px;
  left: 30px;
  width: 467px;
  height: 150px;
  padding: 15px;
  border: 1px solid #333;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.joinWrap .tooltipWrap .tipLayerBox .tipList li {
  color: #999;
  font-size: 12px;
  line-height: 17px;
  padding-left: 8px;
  font-weight: normal;
  background: url("//openimage.interpark.com/.ui/join/icon_dotGray.png") no-repeat 0 8px;
}

.joinWrap .certifyButtonWrap {
  text-align: center;
  margin: 20px 0 30px;
}

.joinWrap .certifyButtonWrap button {
  background: #ef3f43;
  color: #fff;
  font-size: 18px;
  padding: 7px 20px 8px;
}

.joinWrap .essentialDataWrap .iText {
  width: 340px;
}

.joinWrap .essentialTermsWrap {
  padding-bottom: 38px;
}

.joinWrap .essentialTermsWrap .conTitle {
  margin: 43px 0 11px;
}

.joinWrap .essentialTermsWrap .termsAllBtnWrap {
  margin: 47px 0 28px;
}

.joinWrap .essentialTermsWrap .termsAllBtnWrap .iCheckbox label {
  font-size: 20px;
}

.joinWrap .selectOptionWrap .optionTitle {
  position: relative;
}

.joinWrap .selectOptionWrap .optionTitle .btnLayer {
  display: inline-block;
  height: 20px;
  font-weight: normal;
  line-height: 20px;
  border-radius: 2px;
  font-size: 12px;
  padding: 0 8px;
  color: #fff;
  background: #333;
  vertical-align: 2px;
}

.joinWrap .selectOptionWrap .optionTitle .btnLayer span {
  background: url("//openimage.interpark.com/.ui/join/btn_moreLayer.png") no-repeat left center;
  padding-left: 12px;
}

.joinWrap .selectOptionWrap .optionTitle .btnLayer.btnHideLayer span {
  background: url("//openimage.interpark.com/.ui/join/bnt_hideLayer.png") no-repeat left center;
}

.joinWrap .selectOptionWrap .selectLayerWrap {
  display: none;
}

.joinWrap .selectOptionWrap .selectLayerWrap.openLayer {
  display: block;
}

.joinWrap .selectOptionWrap .selectLayerWrap .tableBox {
  margin-bottom: 30px;
}

.joinWrap .selectOptionWrap .selectLayerWrap .allBtnWrap {
  margin: 45px 0 0 10px;
}

.joinWrap .selectOptionWrap .selectLayerWrap .allBtnWrap label i {
  color: #ef3f43;
}

.joinWrap .selectOptionWrap .selectLayerWrap .terms_serviceBox {
  margin-bottom: 20px;
}

.joinWrap .selectOptionWrap .selectLayerWrap .terms_serviceBox.terms_agreeMarketing {
  padding-left: 10px;
}

.joinWrap .selectOptionWrap .selectLayerWrap .benefitChkWrap {
  margin: 0 0 15px 10px;
}

.joinWrap .selectOptionWrap .selectLayerWrap .termsInfoList {
  margin-left: 10px;
}

.joinWrap .selectOptionWrap .selectLayerWrap .termsInfoList li {
  padding-left: 9px;
  background: url("//openimage.interpark.com/.ui/join/icon_dashGray.png") no-repeat 0 8px;
  color: #666;
  font-size: 12px;
  font-weight: normal;
  background-color: #fff;
}

.joinWrap .selectOptionWrap .selectLayerWrap .btnAddressWrap {
  margin-top: 7px;
}

.joinWrap .selectOptionWrap .selectLayerWrap .genderWrap .radioGroup label {
  margin-right: 10px;
}

.joinWrap .selectOptionWrap .selectLayerWrap .alertMessage {
  display: inline-block;
  vertical-align: middle;
}

.joinWrap .termsTxt {
  margin: 5px 0 20px 10px;
  color: #666;
  font-weight: normal;
  font-size: 14px;
  background-color: #fff;
}

.joinWrap .marketingWrapper {
  margin: 0 0 10px 10px;
}

.joinWrap .marketingWrapper .marketingTxt {
  vertical-align: middle;
  margin-right: 50px;
  font-size: 14px;
  background-color: #fff;
}

.joinWrap .joinButtonWrap {
  text-align: center;
  margin: 50px 0;
}

.joinWrap .joinButtonWrap .join {
  background: #ef3f43;
  color: #fff;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  padding: 0 72px;
}

.joinWrap .customSelect {
  position: relative;
  z-index: 4;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.joinWrap .customSelect select {
  visibility: hidden;
}

.joinWrap .customSelect .includeLayer {
  position: absolute;
  top: 70px;
  right: -205px;
  z-index: 1;
  display: none;
  width: 266px;
  padding: 15px;
  border: 1px solid #333;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.joinWrap .customSelect .includeLayer span {
  display: block;
  margin-bottom: 10px;
  line-height: 16px;
  font-size: 12px;
}

.joinWrap .customSelect .newSelect {
  position: absolute;
  top: 0;
  left: 0;
  height: 33px;
  width: 100%;
  line-height: 30px;
  border: 1px solid #b6bdc7;
  background: url("//openimage.interpark.com/.ui/search/shopping/arrow_select.png") no-repeat right center;
  padding: 0 34px 0 10px;
  box-sizing: border-box;
  font-size: 14px;
  color: #202020;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.joinWrap .customSelect .options {
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid #333;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background-color: #fff;
}

.joinWrap .customSelect .options li {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border-top: 1px solid #dfe5ed;
  font-weight: normal;
  font-size: 14px;
}

.joinWrap .customSelect .options li:hover {
  background: #f4f6f9;
}

.joinWrap .customSelect .options li:first-child {
  border-top: none;
}

.joinWrap .customSelect.active .newSelect {
  background: url("//openimage.interpark.com/.ui/search/shopping/arrow_select_up.png") no-repeat right center;
}

.joinWrap .customSelect.active .options {
  display: block;
}

.dimBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
  z-index: 9998;
  display: none;
}

.popupContent {
  display: none;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
}

.popupContent.openLayer {
  display: block;
}

.popupContent .titleWrap {
  background: #aaa;
  font-size: 22px;
  color: #fff;
  height: 50px;
  position: relative;
}

.popupContent .titleWrap .title {
  font-size: 22px;
  margin-right: 50px;
  padding-top: 6px;
  text-align: center;
  font-weight: normal;
}

.popupContent .titleWrap .closeBtn {
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  background: url("//openimage.interpark.com/.ui/join/btn_popClose.png") no-repeat;
}

.popupContent .contentWrap {
  padding: 27px 20px;
  box-sizing: border-box;
  font-weight: normal;
}

.popupContent .contentWrap .tabWrap .tabList {
  overflow: hidden;
}

.popupContent .contentWrap .tabWrap .tabList li {
  float: left;
  width: 50%;
}

.popupContent .contentWrap .tabWrap .tabList li a {
  display: block;
  height: 43px;
  color: #999;
  font-size: 15px;
  text-align: center;
  line-height: 43px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  font-weight: normal;
}

.popupContent .contentWrap .tabWrap .tabList li:first-child a {
  border-right: 0;
}

.popupContent .contentWrap .tabWrap .tabList li.active a {
  background: #fff;
  color: #000;
  border-bottom: 0;
}

.popupContent .contentWrap .tabConWrap {
  padding-top: 35px;
  font-size: 14px;
}

.popupContent .contentWrap .tabConWrap .tabContent {
  display: none;
}

.popupContent .contentWrap .tabConWrap .tabContent.active {
  display: block;
}

.popupContent .contentWrap .tabConWrap .infoTxt {
  margin-top: 35px;
  color: #999;
  font-size: 14px;
  font-weight: normal;
  background-color: #fff;
}

.popupContent .contentWrap .infoTb dt {
  float: left;
  width: 88px;
  margin: 3px -88px 0 0;
  font-weight: normal;
  font-size: 14px;
  background-color: #fff;
}

.popupContent .contentWrap .infoTb dt .icon_bullet {
  color: #ef3f43;
  vertical-align: middle;
  margin-right: 5px;
}

.popupContent .contentWrap .infoTb dt.emailConTitle {
  width: 360px;
}

.popupContent .contentWrap .infoTb dd {
  margin-left: 88px;
  margin-bottom: 20px;
}

.popupContent .contentWrap .infoTb dd.phoneNumber .iText {
  width: 61px;
}

.popupContent .contentWrap .infoTb dd.phoneNumber .hypen {
  margin: 0 3px;
}

.popupContent .contentWrap .infoTb dd.confirmWrap .iText {
  width: 253px;
}

.popupContent .contentWrap .infoTb dd.email .iText {
  width: 173px;
}

.popupContent .contentWrap .infoTb dd.email .at {
  margin: 0 5px;
}

.popupContent .contentWrap .infoTb dd.email .disableText {
  background: #f4f6f9;
}

.popupContent .contentWrap .infoTb dd.emailConfirm {
  margin-left: 365px;
}

.popupContent .contentWrap .infoTb dd.last {
  margin-bottom: 0;
}

.popupContent .contentWrap button {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #b6bdc7;
  height: 31px;
  min-width: 120px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 0;
  text-align: center;
  color: #000;
  vertical-align: middle;
  border-radius: 3px;
}

.popupContent .contentWrap button.btnConfirm {
  background: #333;
  color: #fff;
  border: none;
}

.popupContent.idchkPopup {
  width: 400px;
}

.popupContent.idchkPopup .contentWrap {
  text-align: center;
}

.popupContent.idchkPopup .contentWrap .infoTxt {
  font-size: 16px;
  margin: 10px 0 30px;
  background-color: #fff;
}

.popupContent.minorPopup {
  width: 658px;
}

.popupContent.minorPopup .contentWrap .infoTxt {
  margin-bottom: 35px;
  font-size: 16px;
  background-color: #fff;
}

.popupContent.minorPopup .contentWrap .infoTb dt {
  width: 100px;
  margin: 3px -100px 0 0;
}

.popupContent.minorPopup .contentWrap .infoTb dd {
  margin-left: 100px;
}

.popupContent.minorPopup .contentWrap .infoTb .iText {
  width: 137px;
}

.popupContent.minorPopup .contentWrap .infoTb .customSelect {
  width: 155px;
  height: 33px;
}

.popupContent.minorPopup .contentWrap .btnSMSminor {
  background: #333;
  color: #fff;
  border: none;
}

.popupContent.idDuplicatePopup {
  width: 460px;
  text-align: center;
}

.popupContent.idDuplicatePopup .infoTxt {
  font-size: 20px;
}

.popupContent.idDuplicatePopup .duplicateList {
  margin: 40px 0;
}

.popupContent.idDuplicatePopup .duplicateList li {
  color: #555;
  font-size: 14px;
  background-color: #fff;
}

.popupContent.idDuplicatePopup .allertMessage {
  color: #ea1313;
  font-size: 14px;
  background-color: #fff;
}

.popupContent.idDuplicatePopup .bottomButtonWrap {
  margin: 20px 0 10px;
}

.iframeTermsWrapper {
  padding: 10px;
  font-weight: normal;
  font-size: 12px;
  color: #777;
}

.iframeTermsWrapper .article {
  margin-bottom: 30px;
}

.iframeTermsWrapper .article .article_title {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.iframeTermsWrapper .article .article_text {
  color: #666;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

.iframeTermsWrapper .article .sub_title {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 20px 0 10px;
}

.iframeTermsWrapper .article .sections {
  font-size: 14px;
  font-weight: normal;
  color: #666;
}

.iframeTermsWrapper .termsTable {
  width: 100%;
  position: relative;
  table-layout: fixed;
  border: 1px solid #dfe5ed;
}

.iframeTermsWrapper .termsTable th,
.iframeTermsWrapper .termsTable td {
  vertical-align: middle;
  padding: 10px 20px;
  line-height: 1.4;
  border-bottom: 1px solid #dfe5ed;
  border-right: 1px solid #dfe5ed;
  word-break: break-word;
  color: #000;
  font-size: 14px;
  font-weight: normal;
}

.iframeTermsWrapper .termsTable th.emphasis {
  font-size: 14px;
  font-weight: normal;
  background-color: #f4f6f9;
}

.iframeTermsWrapper .termsTable td.emphasis {
  font-size: 14px;
  font-weight: bold;
}

.winPopWrapper .titleWrap {
  background: #aaa;
  color: #fff;
  font-size: 22px;
  height: 50px;
  line-height: 50px;
  position: relative;
}

.winPopWrapper .titleWrap h1 {
  font-weight: normal;
  text-align: center;
  margin-right: 50px;
}

.winPopWrapper .titleWrap .btnPopClose {
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  background: url("//openimage.interpark.com/.ui/join/btn_popClose.png") no-repeat;
}

.winPopWrapper .popContent {
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.winPopWrapper .popContent * {
  font-weight: normal;
  font-size: 12px;
}

.winPopWrapper .popContent iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}
