<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta
	content="A fully featured admin theme which can be used to build CRM, CMS, etc."
	name="description" />
<meta name="author" content="">
<title>공지사항 상세페이지</title>
<link rel="stylesheet" href="/css/pc/style.css">
<link rel="stylesheet" href="/css/pc/aos.css">
<link rel="stylesheet" href="/css/pc/jquery-ui.css">
<link rel="stylesheet" href="/css/pc/swiper-bundle.min.css">
<link rel="stylesheet" href="/css/custom.css" />
<link rel="stylesheet" href="/css/style_legacy.css">
<script src="/js/aos.js"></script>
<script src="/js/swiper-bundle.min.js"></script> 
<script src="/js/allVendors.js"></script>
<script src="/js/common.js"></script>

    <script src="/sch/js/huss/notice/noticeDetail.js"></script> 
</head>

<body>

	   <!-- header --> 
    <header id="header_wrap"></header>
	<!-- ===== /header ====== -->
	<div id="wrapper">
		<!-- sidebar -->
		<aside id="sidebar-html"></aside>
		<!-- /sidebar -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content" class="pt-0">
				<!-- ===== app ====== -->
				<div id="app"> 
					<!-- ===== container ====== -->
					<div id="container" class="d-flex flex-column">
						<div class="container-fluid">
							<!-- ===== container-fluid ====== -->
							<div
								class="d-sm-flex align-items-center justify-content-between mb-4">
								<h1 class="h1 mb-0 text-gray-800"> 공지사항 상세 화면</h1>
							</div>
							<div class="col">
								<!-- <div class="row mb-4" v-show="step == 'master'"> -->
								<div class="row mb-4">

									<div class="card shadow col">
										<div class="card-body">
											<div class="row justify-content-center">
												<div class="col">
													<form class="d-flex justify-content-center col">
														<div>
															<table class="tableForm">
														<tbody> 
																<tr>
																	<th>날짜 </th> 
																<td  class="col-4">
																	
																	<div class="input-group flex-nowrap bx_calendar">
																		<div class="side-by-side div-input">{{noticeDetail.registDt}}</div> 
																	</div>
																</td>  
																</tr>  
														
																<tr> 
																	<th  colspan="1">이름 </th> 
																	<td class="input-group">
																		<div class="form-control" id="userNm">
																	{{noticeDetail.userNm}}
																		</div>
																	</td>   
																</tr>
 
																<tr>
																	<th>제목</th>
																	<td colspan="2"><div class="form-control"  id="noticeSj">  
																		{{noticeDetail.noticeSj}}</div></td>
 
																</tr> 
 
																<tr>
																	<th>제목</th>
																	<td><div class="form-control"  id="noticeSj">  
																		{{noticeDetail.noticeSj}}</div></td> 
																</tr> 
																<tr>
																
									        					<th>내용</th>
									        					<td>
																			<div id=noticeCn></div>
																		</td>
																</tr>
																
									        				<tr>
																		<th>첨부파일</th>
																		<td>
																			<div class="mt-2 ml-2">
																				<div class="row col">
																					<div v-for="(obj, idx) in filesList"
																						v-if="filesList.length" class="diplay-box row mr-2 justify-content-center align-content-end">
																						<div v-if="obj.fileType == 'image'">
																							<img :src="'/UPLOAD_FILES/' + obj.fileNm" @click="downloadFile(obj.fileSeq, obj.fileDetailSn)">
																						</div>
																						<div v-else-if="obj.fileType == 'video'">
																							<video :src="'/UPLOAD_FILES/' + obj.fileNm" controls></video>
																						</div>
																						<span @click="downloadFile(obj.fileSeq, obj.fileDetailSn)" class="search_details display-text">
																							{{obj.orignlFileNm}}
																						</span>
																					</div>
																					<span v-else class="text-gray"> 첨부된 파일이 없습니다. </span>
																				</div>
																			</div>
																		</td>
																	</tr>
																
														</tbody>
															</table>
														</div>
													</form>
													<div class="border-top m-4"></div>
													<div class="d-flex justify-content-center">
														<div class="d-flex justify-content-center">
														<div class="pr-5">
															<a href="/sch/huss/notice/noticeList.html"
																class="btn btn-primary btn-icon btn_search_width" > 
																<span class="text">목록</span>
															</a>
														</div>
														<div class="pr-5">
															<a href="javascript:;" id="btnUpdateNotice"  @click="fnUpdtMov()"
																class="btn btn-primary btn-icon btn_search_width"> 
																<span class="text">수정</span>
															</a>
														</div>
														<div class="pr-5">
															<a href="javascript:;" class="btn btn-primary btn-icon btn_search_width"
															@click="fnDel()" id="btnDeleteNotice" > <span class="text">삭제</span>
															</a>
														</div> 
													 
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- ===== /container-fluid ====== --> 
					 
							<!-- ==== /search ==== -->
						 
							<!-- ==== /searchList ==== -->
 
						</div>
					</div>
				</div>

				<!-- /detail Modal-->

				<!-- ===== /container ====== -->
			</div>
			<!-- ===== /app ====== -->
		</div>
	</div>


</body>
</html>