<!-- 게시판 등록 -->
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta
	content="A fully featured admin theme which can be used to build CRM, CMS, etc."
	name="description" />
<meta name="author" content="">
<link rel="stylesheet" href="/css/pc/style.css">
<link rel="stylesheet" href="/css/pc/aos.css">
<link rel="stylesheet" href="/css/pc/jquery-ui.css">
<link rel="stylesheet" href="/css/pc/swiper-bundle.min.css">
<link rel="stylesheet" href="/css/custom.css" />
<link rel="stylesheet" href="/css/style_legacy.css">
<script src="/js/aos.js"></script>
<script src="/js/swiper-bundle.min.js"></script> 
<script src="/js/allVendors.js"></script>
<script src="/js/common.js"></script>
<script src="/js/sortable.min.js"></script> 
 <script src="/sch/js/huss/notice/noticeRegist.js"></script> 
</head>
<body>
	<!-- header -->
	<header id="header_wrap"></header>
	<!-- // header -->
	<div id="wrapper">
		<!-- sidebar -->
		<aside id="sidebar-html"></aside>
		<!-- /sidebar -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content" class="pt-0">
				<!-- ===== app ====== -->
				<div id="app">
					<!-- ===== container ====== -->
					<div id="container" class="d-flex flex-column">
						<div class="container-fluid">
							<div
								class="d-sm-flex align-items-center justify-content-between mb-4">
								<h1 class="h1 mb-0 text-gray-800">공지사항 등록</h1>
							</div>
							<form id="formTag">
								<div class="col">
									<div class="row mb-4">
										<div class="card shadow col">
											<div class="card-body">
												<div class="row justify-content-center mt25">
													<div class="col">
														<form class="d-flex justify-content-center col">
															<div class="col tbl_col_typ1">
																<table class="tableForm">
																	<tr>
																		<th>제목 <span class="required">*</span>
																		</th>
																		<td class="input-group"><input id="noticeSj"
																			class="form-control" type="text"
																			v-model=noticeData.noticeSj placeholder="제목을 입력해 주세요."></td>
																	</tr>
																	<tr>
																		<th>글쓴이 <span class="required">*</span>
																		</th>
																		<td class="input-group"><input id="userNm"
																			class="form-control" type="text"
																			v-model=noticeData.userNm placeholder="작성자"></td>
																	</tr> 
																 
																	<tr> 
																		<th>숨김상태</th>
																		<td>
																			<div class="input-group flex-nowrap">
																				<div class="form-check">
														<input name="useAt" v-model="noticeData.useAt" id="useAt" type="checkbox" value="N">
														<label for="N" class="form-check-label">숨김</label>
													</div>
													<div class="form-check">
							<input name="useAt" v-model="noticeData.useAt" id="useAt2" type="checkbox" value="Y">
							<label for="Y" class="form-check-label">보임</label>
						</div>
													</div>
																		</td>
																		 
																	</tr>
																	<tr>
																		<th>내용 <span class="required">*</span>
																		</th>
																		<td><textarea placeholder="내용을 입력해 주세요" id="noticeCn" 
																			style="min-height: 250px; min-width: 650px" 
																			id="noticeCn" maxlength="2000"  v-model="noticeData.noticeCn"></textarea></td>
																	</tr>
																	<tr>
																		<th class="align-middle">첨부파일&nbsp;&nbsp;</th>
																		<td>
																			<div class="row">
																				<div class="form-check col-6 ml-3">
																					<input type="file" id="fnAddFiles"
																						class="custom-file-input form-control"
																						accept=".jpeg, .jpg, .png, .mp4" multiple /> <label
																						for="fnAddFiles" class="custom-file-label">파일찾기
																						( &nbsp jpeg &nbsp/&nbsp jpg &nbsp/&nbsp png
																						&nbsp/&nbsp mp4 파일만 가능 )</label>
																				</div>
																			</div>
																			<div class="mt-2 ml-2">
																				<div class="fileList row col">
																					<div id="fileList"
																						class="inp_title_03 row mr-2 justify-content-center align-content-end"
																						draggable="true" v-for="(obj, idx) in filesList"
																						v-if="filesList.length">
																						<div v-if="obj.fileType === 'image'">
																							<img :src=obj.src>
																						</div>
																						<div v-else-if="obj.fileType === 'video'"
																							id="fileType">
																							<video :src=obj.src></video>
																						</div>
																						<div class="display-text" id="fileSn"
																							name="fileSn" :data-value=idx>
																							{{obj.name}}
																							<button type="button" class="ml-2 search_details"
																								id="delFiles" @click="delFiles(obj.idx)">
																								<img src="\images\pc\registImgS.png" >
																							</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		</td>
																	</tr>
																</table>
															</div>
														</form>
														<div class="d-flex justify-content-center">
															<div class="pr-5">
																<a href="#" id="cancel"
																	class="btn btn-google btn-icon btn_search_width"
																	@click=fnCancel()> <span class="text">취소</span>
																</a>
															</div>
															<div class="pl-5"> 
																<a href="#"
																class="btn btn-primary btn-icon btn_search_width"
																@click=fnSave()> <span class="text">저장</span>
															</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- ===== /container ====== -->
				</div>
				<!-- ===== /app ====== -->
			</div>
		</div>
	</div>

	<script>

$( function() {
    $( "#tabs" ).tabs();
});

// 탭 배경
$(document).ready(function(){
    const tabs = $('.program_tabs li');
    tabs.click(function(){
        if (this.classList.contains('tabs_right')) {
            $('.active_back').css('left', '115px');
        } else if (this.classList.contains('tabs_left')) {
            $('.active_back').css('left', '0px');
        }
        //  탭 배경 끝
    });
});
</script> 
</body>
</html>