<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta
	content="A fully featured admin theme which can be used to build CRM, CMS, etc."
	name="description" />
<meta name="author" content="">
<title> 개설 등록</title>
<link href="/css/style.css" rel="stylesheet" />
<script src="/js/allVendors.js"></script>
<script src="/js/common.js"></script>
<script src="/sch/js/huss/noticeRegist.js"></script>
</head>

<body>

	<!-- ===== header ====== -->
	<header id="header_wrap"></header>
	<!-- ===== /header ====== -->
	<div id="wrapper">
		<!-- sidebar -->
		<aside id="sidebar-html"></aside>
		<!-- /sidebar -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content" class="pt-0">
				<!-- ===== app ====== -->
				<div id="app">
					<!-- ===== container ====== -->
					<div id="container" class="d-flex flex-column">
						<div class="container-fluid">
							<!-- ===== container-fluid ====== -->
							<div
								class="d-sm-flex align-items-center justify-content-between mb-4">
								<h1 class="h1 mb-0 text-gray-800"> 개설 등록</h1>
							</div>
							<div class="col">
								<!-- <div class="row mb-4" v-show="step == 'master'"> -->
								<div class="row mb-4">

									<div class="card shadow col">
										<div class="card-body">
											<div class="row justify-content-center">
												<div class="col">
													<form class="d-flex justify-content-center col">
														<div>
															<table class="tableForm">
																<tr>
																	<!-- ===== 교수명 + 찾기버튼 ====== -->
																	<th>교수명<span class="required">*</span>:
																	</th>
																	<td class="input-group "><input
																		class="form-control" type="text" id="profsrUserSeqText"
																		name="profsrUserSeqText" v-bind:value="inputText"
																		v-on:input="updateProfsrUserSeq" 
																		 placeholder="교수명 선택"></td>

																	<td>
																		<div class="ml-5 btn_search">
																			<div>
																				<a href="javascript:;" data-toggle="modal"
																					id="profsrUserSeqsearch"
																					data-target="#ProfsrUserSeqModal"
																					@click="fnprofsrUserSeqModal"
																					class="btn btn-google btn-icon btn_search_width">찾기
																				</a>
																			</div>
																		</div>
																	</td>

																</tr>


																<!-- ===== //교수명 + 찾기버튼  ====== -->
																<!-- ===== 상담형태 : 드롭박스 ====== -->
																<tr>
																	<th>상담 형태<span class="required">*</span>:
																	</th>
																	<td>
																		<div class="sel_typ1">
																			<select v-model=noticeData.noticeSe id="noticeSe"
																				name="noticeSe" @click="fnselectNoticeSe">
																				<option  id="noticeSeValue" value="P">개인상담</option>
																				<option id="noticeSeValue"  value="G">그룹상담</option>
																			</select>
																		</div>
																	</td>
																</tr>
																<!-- ===== / 상담형태 : 드롭박스 ====== -->
																<tr>
																	<th>상담장소 <span class="required">*</span>:
																	</th>
																	<td colspan="2"><input class="form-control"
																		type="text" v-model=noticeData.noticePlaceNm
																		id="noticePlaceNm" name="noticePlaceNm"
																		placeholder="강의장소를 입력해주세요."></td>

																	<th>상담생수<span class="required">*</span>:
																	</th>
																	<td colspan="6">
																		<div>
																			<select v-model=noticeData.noticeCo id="noticeCo"
																				name="noticeCo">
																				<option  id="noticeCoValue"  value="1">1</option>
																				<option id="noticeCoValue"  value="2">2</option>
																				<option id="noticeCoValue" value="3">3</option>
																				<option id="noticeCoValue" value="4">4</option>
																				<option id="noticeCoValue" value="5">5</option>
																			</select>
																		</div>
																	</td>
																</tr>
																<!-- ===== 상담기간 ====== -->
																<tr>
																	<th>상담 기간<span class="required">*</span>:
																	</th>
																	<td colspan="2">
																		<div class="input-group calendar">
																			<input type="text"
																				class="form-control datepicker datepicker_from"
																				id="datepickerFromNotice"
																				name="datepickerFromNotice"
																				v-model="noticeData.noticeBeginDe"
																				@input=" noticeData.noticeBeginDe = $event.target.value" />
																			<span class="d-block mx-2" style="line-height: 38px">~</span>
																			<input type="text"
																				class="form-control datepicker datepicker_to"
																				id="datepickerToNotice" name="datepickerToNotice"
																				v-model="noticeData.noticeEndDe"
																				@input="noticeData.noticeEndDe = $event.target.value" />

																		</div>
																	</td>
																	<!-- ===== / 상담기간 ====== -->


																	<!-- ===== 상담요일 ====== -->
																<!-- ===== 상담요일 ====== -->
																	<td colspan="6">
																		<div class="input-group"
																			style="flex-flow: row; padding-left: 2em;">
																			<div style="width: 125px;">
																				<span> 상담요일 <span class="required">*</span>:
																				</span>
																			</div>
																			<div class="form-check">
																				<input name="WeekArray1" id="Mon" type="checkbox"
																					v-model="noticeData.noticeWeekArray" value="1"
																					checked> <label for="Mon"
																					class="form-check-label">월</label>
																			</div>

																			<div class="form-check">
																				<input name="WeekArray" id="Tue" type="checkbox"
																					v-model="noticeData.noticeWeekArray" value="2">
																				<label for="Tue" class="form-check-label">화</label>
																			</div>
																			<div class="form-check">
																				<input name="WeekArray" id="Wed" type="checkbox"
																					v-model="noticeData.noticeWeekArray" value="3">
																				<label for="Wed" class="form-check-label">수</label>
																			</div>
																			<div class="form-check">
																				<input name="WeekArray" type="checkbox" id="Thu"
																					v-model="noticeData.noticeWeekArray" value="4">
																				<label for="Thu" class="form-check-label"> 목</label>
																			</div>
																			<div class="form-check">
																				<input name="WeekArray" id="Fri" type="checkbox"
																					v-model="noticeData.noticeWeekArray" value="5">
																				<label class="form-check-label" for="Fri"> 금</label>
																			</div>
																			<div class="form-check">
																				<input type="checkbox"
																					v-model="noticeData.noticeWeekArray" id="Sat"
																					name="WeekArray" value="6"> <label
																					class="form-check-label" for="Sat"> 토</label>
																			</div>
																		</div>
																	</td>
																</tr>
																<!-- ===== / 상담요일 ====== -->
																<!-- ===== 상담시간 ====== -->
																<tr>
																	<th class="col-sm-2">상담시간 <span class="required">*</span>
																		:
																	</th>
																	<td colspan="3" id="noticeTimeContainer" class="noticeTimeContainer">
																		 <div class="input-group flex-nowrap" > 
																		<input class="form-control watch" id="noticeBeginTimeHour" min="0" max="24" maxlength="2" v-model="noticeList.noticeBeginTimeHour" @input="hourValidation">&nbsp;:&nbsp;&nbsp;&nbsp;
																		<input class="form-control watch" id="noticeBeginTimeMinute" min="0" max="60" maxlength="2" v-model="noticeList.noticeBeginTimeMinute" @input="minuteValidation">&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;
																		<input class="form-control watch" id="noticeEndTimeHour" min="0" max="24" maxlength="2" v-model="noticeList.noticeEndTimeHour" @input="hourValidation">&nbsp;:&nbsp;&nbsp;&nbsp;
																		<input class="form-control watch" id="noticeEndTimeMinute" min="0" max="60" maxlength="2" v-model="noticeList.noticeEndTimeMinute" @input="minuteValidation">
																	
																		</div>		 
																	</td>
																		<td id="noticeTimesetContainer" class="noticeTimesetContainer"></td>	 
																	<td>
																		<div class="ml-3 dp_center btn_search_width">
																			<div id="getNoticeTime">
																				<a href="javascript:;" id="noticeTimebutton"
																					class="btn btn-primary btn-icon btn_search_width"
																				  	@click="fnGetNoticeTime"> <span class="text">추가</span>
																				</a>
																<div  id="noticeTimeContainer" class="noticeTimeContainer">

																</div> </div>
																		</div>
																	</td>
															<td colspan="3" id="noticeTimeContainer2" class="noticeTimeContainer2">
										
															</td>
																</tr>

																<!-- ===== / 상담시간 ====== -->
																<!-- ===== 모집기간 ====== -->
																<tr>
																	<th>모집 기간<span class="required">*</span>:
																	</th>
																	<td colspan="5">
																		<div class="input-group calendar">
																			<input type="text" id="datepickerFromRegist"
																				name="datepickerFromRegist"
																				class="form-control datepicker datepicker_from"
																				v-model="noticeData.startPeriodDt "
																				@input=" noticeData.rcritBeginDt = $event.target.value" />
																			<div class="input-group flex-nowrap col-4">
																				<input class="form-control watch" id="startPeriodHour" min="0" max="24" maxlength="2" v-model="noticeData.startPeriodHour" @input="hourValidation">&nbsp;:&nbsp;&nbsp;&nbsp;
																				<input class="form-control watch" id="startPeriodMinute" min="0" max="60" maxlength="2" v-model="noticeData.startPeriodMinute" @input="minuteValidation">&nbsp;&nbsp;&nbsp;
																			</div>
					
																			<span class="d-block mx-3" style="line-height: 38px">~</span>
																			<input type="text" id="datepickerToRegist"
																				name="datepickerToRegist"
																				class="form-control datepicker datepicker_to"
																				v-model="noticeData.endPeriodDt"
																				@input="noticeData.rcritEndDt = $event.target.value" />

																				<div class="input-group flex-nowrap col-4">
																					<input class="form-control watch" id="endPeriodHour" min="0" max="24" maxlength="2" v-model="noticeData.endPeriodHour" @input="hourValidation">&nbsp;:&nbsp;&nbsp;&nbsp;
																					<input class="form-control watch" id="endPeriodMinute" min="0" max="60" maxlength="2" v-model="noticeData.endPeriodMinute" @input="minuteValidation">
																				</div>
				
																		</div>
																	</td>

																</tr>
																<!-- ===== / 모집기간 ====== -->

															</table>
														</div>
													</form>
													<div class="border-top m-4"></div>
													<div class="d-flex justify-content-center">
														<div class="pl-5">
															<a href="#"
																class="btn btn-google btn-icon btn_search_width"
																@click=fnCancel()> <span class="text">취소</span>
															</a>
														</div> 
														<div class="pl-5">
															<a href="#"
																class="btn btn-primary btn-icon btn_search_width"
																id="btnGetdate" @click=fnGetdate> <span class="text">저장</span>
															</a>
														</div>
													<div class="pl-5">
														<a href="javascript:;" data-toggle="modal" data-target="#noticeCopyModal" @click="fnCopyNotice" 
														class="btn btn-icon btn-orange btn_search_width" id="CopyNotice">
															<span class="text">복사</span>
														</a>
													</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- ===== /container-fluid ====== -->

					</div>
				</div>
				
				
			<!-- ===== noticeCopy Modal ====== -->
			<div class="modal fade" id="noticeCopyModal" tabindex="-1" role="dialog" aria-labelledby="noticeCopyModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-grid" role="document">
					<div class="modal-content modal-xxl-size" id="modalContent">
						<div class="modal-header">
							<h3 class="modal-title font-weight-bolder" id="detailModalLabel" style="margin:auto auto;">상담 개설 리스트</h3>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close" style="margin: 0px !important;">
<span aria-hidden="true" id="closeModal">×</span>
							</button>
						</div>
						<div class="modal-body" id="modalBody">
							<div class="d-flex justify-content-center mt-2">
<div class="x-scroll">
	<div class="d-flex flex-column">
<div class="container-fluid">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h1 mb-0 text-gray-800">복사하기</h1>
	</div>
	<!-- noticeList -->
	<div class="row justify-content-center">
		<div class="col">
			<!-- ==== search ==== -->
			<div class="card shadow">
				<div class="card-body">
					<div class="d-flex align-items-center justify-content-center">
						<div class="input-group dp_center mr-3" style="width:50%">
							<input type="text" v-model="searchData.searchText" class="form-control inp_search" @keyup.enter="fnSearch()" placeholder="검색어를 입력해주세요.">
						</div>
						<div class="input-group ml-3 dp_center btn_search_width" style="width:120px">
							<div>
<button type="button" class="form-control btn btn-info btn_search_width" @click="fnSearch()"> 검색하기 </button>
							</div>
						</div>
						<div class="ml-3 dp_center">
							<a class="search_details">
<img src="/image/bottom_icon.svg" alt="">
							</a>
						</div>
					</div>
					<div class="row">
						<div id="subSearch" style="margin-right: -0.75rem; margin-left: -0.75rem;">
							<div class="visibil">
<div class="sup_btn_box3">
	<div class="form-check">
<input type="checkbox" id="deletedNoticeInclude" v-model="searchData.deletedNoticeInclude"/>
<label for="deletedNoticeInclude" class="form-check-label">  처리 포함</label>
	</div>
</div>
							</div>
						</div>
						<!-- </div> -->
					</div>
				</div>
			</div>
			<!-- ==== /search ==== -->

			<!-- ==== searchList ==== -->
			<div class="row mb-4" style="padding-top : 40px;">
				<div class="col">
					<div class="card shadow">
						<div class="card-body">
							<div class="row">
<div class="col-6 font-weight-bold">
	<span>출력 : 1~10</span>
</div>
<div class="col-6 mb-3 font-weight-bold d-flex justify-content-end">
	총건 &nbsp;
	<span>{{totalCount}}건</span>
</div>
<div class="table-responsive">
	<table class="table table-bordered table-hover text-center" id="tableList">
<thead>
<tr>
	<th>선택</th>
		<th>교수명</th>
		<th>상담 형태</th>
		<th>상담생수</th>
		<th class="col-2">기간</th>
		<th>상담요일</th>
		<th>상담시간</th>
		<th>상담횟수</th>
		<th>상담장소</th>
		<th>신청상태</th>
		<th>현 신청자 수</th>
		<th>진행상황</th>
</tr>
</thead>
<tbody>

	 <tr v-for="(obj, idx) in noticeModalList" v-if="noticeModalList.length" :id="obj.noticeSeq">
	<td class="radio-group">
	<input type="radio"  name="noticeSeqNum" class="CopyNotice"
		:id="obj.noticeSeq" v-model="noticeModalList.noticeSeq" :value=obj.noticeSeq >
	</td> 
 

<!-- 교수명 -->
<td>{{obj.userNm}}</td>
<!-- 상담 형태 -->
<td>{{obj.noticeSeStr}}</td>
<!-- 상담생수 -->
<td>{{obj.noticeCo}}<span>명</span></td>
<!-- 기간 -->
<td><a href="javascript:;" class="link-style"
	@click="fnDetail(obj.noticeSeq)">{{obj.noticeBeginDate}}
		~ {{obj.noticeEndDate}}</a></td>
<!-- 상담요일 -->
<td>{{obj.noticeWeekArray}}</td>
<!-- 상담시간 -->
<td>
	{{obj.noticeBeginTimeHour}}:{{obj.noticeBeginTimeMinutes}}~{{obj.noticeEndTimeHour}}:{{obj.noticeEndTimeMinutes}}
</td>

<!-- 상담횟수 -->
<!-- 시간이랑 요일 곱한 값으로 횟수를 처리해야 함 -->
<td>{{obj.noticeSeqCnt}}<span>회</span></td>
<!-- 상담장소 -->
<td>{{obj.noticePlaceNm}}</td>
<!-- 신청상태 --> 
<td>{{obj.noticeStatus}}</td>
<td><span id="" v-if="noticeUserSeq != '0'">{{noticeUserSeq}}</span><span id="" v-else>&nbsp; - </span> </td>
<td>진행상황</td>
</tr> 
<tr v-else>
	<td colspan="14">조회된 데이터가 없습니다.</td>
</tr>
</tbody>
	</table>
	<ul id="pagination" class="pagination justify-content-center" style="margin-bottom: 1.5rem;"></ul>
	<div></div>
</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- ==== /searchList ==== -->
		</div>
	</div>
	<!-- /noticeList -->
</div>
	</div>
</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="d-flex justify-content-center" style="margin: auto auto;">
<div class="pr-5">
	<a href="javascript:;" class="btn btn-icon btn-google btn_search_width" @click="fnModalCancel">
<span class="text">취소</span>
	</a>
</div>
<div class="pl-5">
	<a href="javascript:;" class="btn btn-icon btn-primary btn_search_width"  @click="fnModalSave" id="btnModalSave">
<span class="text">확인</span>
	</a>
</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ===== /noticeCopy Modal ====== -->	
				
				
				
				
				
				
				<!-- detail Modal-->
				<div class="modal fade" id="ProfsrUserSeqModal" tabindex="-1"
					role="dialog" aria-labelledby="ProfsrUserSeqModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-grid" role="document">
						<div class="modal-content modal-xl-size" id="modalContent">
							<div class="modal-header">
								<h5 class="modal-title font-weight-bolder" id="profsrModalLabel">
									교수명</h5>

								<button class="close" type="button" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true" id="closeModal">×</span>
								</button>
							</div>
							<div class="pt-3">
								<div class="modal-subtitle">찾기버튼</div>
							</div>
							<!-- ==== search ==== -->
							<div class="card shadow">
								<div class="card-body" id="">
									<div class="d-flex align-items-center justify-content-center">
										<div class="input-group dp_center mr-3 w-50">
											<input type="text" v-model="searchData.searchText"
												class="form-control inp_search" @keyup.enter="fnprofsrUserSeqModal()"
												placeholder="검색어를 입력해주세요.">
										</div>
										<div class="ml-3 dp_center btn_search_width">
											<div>
												<button type="button" id=""
													class="form-control btn btn-info btn_search_width"
													@click="fnprofsrUserSeqModal">검색하기</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ==== /search ==== -->
							<div class="row mb-4" style="padding-top: 40px;">
								<div class="col">
									<div class="card shadow">
										<div class="card-body">
											<div class="row"> 
												<div class="col-6 mb-3 font-weight-bold">
													총건 <span id="" v-if="totalCount != '0'">{{totalCount}}</span>
													<span id="" v-else>0건</span>
												</div>
												<div class="table-responsive">

													<table class="table table-bordered  text-dark table-hover">
														<colgroup></colgroup>
														<thead>
															<tr>
																<th>선택</th> 
																<th>교수명</th>
																<th>이메일</th>
															</tr>
														</thead>
														<tbody>
															<tr v-for="(obj, idx) in profsrUserList"
																v-if="profsrUserList.length" >
																<div class="radio-group">
																	<td><input type="radio" name="profsrUserNum"
																		id="obj.userSeq" v-model="noticeData.profsrUserSeq" :value=obj.userSeq>

																	</td>
																</div> 
																<!-- 교수명 -->
																<td>{{obj.userNm}}</td>

																<td>{{obj.userEmail}}</td>
															</tr>
															<tr v-else>
																<td colspan="7">조회된 데이터가 없습니다.</td>
															</tr>

														</tbody>
													</table>
													<ul id="pagination"
														class="pagination justify-content-center"></ul>
												</div>
											</div>
										</div>
										<div class="border-top m-4"></div>
										<div class="dp_center justify-content-center mb-4">
											<button type="button" class="btn btn-default"
												data-dismiss="modal">
												<a href="javascript:;" id="profsrUserSeq" @click="fnprofsrUserSeqInput"
													class="btn-icon btn btn-dark btn_search_width">등록</a>
											</button>
										</div>
									</div>
								</div>
							</div>
							<!-- ==== /searchList ==== -->

							<div class="modal-body" id="modalBody"></div>
						</div>
					</div>
				</div>

				<!-- /detail Modal-->
	
				<!-- ===== /container ====== -->
			</div>
			<!-- ===== /app ====== -->
		</div>
	</div>


</body>
</html>