<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta
	content="A fully featured admin theme which can be used to build CRM, CMS, etc."
	name="description" />
<meta name="author" content="">
<title> 운영</title>
<link href="/css/style.css" rel="stylesheet" />
<script src="/js/allVendors.js"></script>
<script src="/js/common.js"></script>
<script type='text/javascript' src="/sch/js/admin/noticeExprn/noticeFx.js"></script>
</head>
<body>
	<!-- ===== header ====== -->
	<header id="header_wrap"></header>
	<!-- ===== /header ====== -->
	<div id="wrapper">
		<!-- sidebar -->
		<aside id="sidebar-html"></aside>
		<!-- /sidebar -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content" class="pt-0">
				<!-- ===== app ====== -->
				<div id="app">
					<!-- ===== container ====== -->
					<div id="container" class="d-flex flex-column">
						<div class="container-fluid">
							<div
								class="d-sm-flex align-items-center justify-content-between mb-4">
								<h1 class="h1 mb-0 text-gray-800"> 운영</h1>
							</div>
				
 
							<!-- ==== search ==== -->
							<div class="card shadow">
								<div class="card-body" id="">
									<div class="d-flex align-items-center justify-content-center">
										<div class="input-group dp_center mr-3 w-50">
											<input type="text" v-model="searchData.searchText"
												class="form-control inp_search" @keyup.enter="fnSearch()"
												placeholder="검색어를 입력해주세요.">
										</div>
										<div class="ml-3 dp_center btn_search_width">
											<div>
												<button type="button" id=""
													class="form-control btn btn-info btn_search_width"
													@click="fnSearch">검색하기</button>
											</div>
										</div>
			 					 <div class="ml-3 dp_center">
										 <div >
											 <a class="search_details">
												 <img src="/image/bottom_icon.svg" alt="">
											 </a>
										 </div>
										
															<div class="flex-column">
																<div id="subSearch" >
																	<div class="visibil">
																		<div >
																			<div class="form-check">
																				<input type="checkbox"   id="deletedNoticeInclude" v-model="searchData.deletedNoticeInclude" />
																				<label for="deletedNoticeInclude" class="form-check-label">운영 취소 포함</label>
																			</div>
																		</div>
																	</div>
																</div> 
															</div>					
									</div>
									</div>
								</div>
							</div>
							<!-- ==== /search ==== -->

							<!-- ==== searchList ==== -->
							<div class="row mb-4" style="padding-top: 40px;">
								<div class="col">
									<div class="card shadow">
										<div class="card-body">
											<div class="row">
												<div class="col-6 font-weight-bold">
													<span>출력 :&nbsp;&nbsp; 1~10</span>&nbsp;&nbsp;&nbsp;&nbsp; 총건: &nbsp;&nbsp; <span id="" v-if="totalCount != '0'">{{totalCount}}</span>
													<span id="" v-else>0건</span> 
												</div> 
												<div class="table-responsive">
													<table class="table table-bordered  text-dark table-hover">
														<colgroup></colgroup>
														<thead>
															<tr>
																<th>순번</th>
																<th>교수명</th>
																<th>상담 형태</th>
																<th>상담생수</th>
																<th>날짜</th>
																<th>상담요일</th>
																<th>상담시간</th> 
																<th>상담장소</th>
																<th>신청상태</th>
																<th>현 신청자 수</th>
															</tr>
														</thead>
														<tbody>
															<tr v-for="(obj, idx) in noticeOperateList"
																v-if="noticeOperateList.length" v-bind:key="noticeOperateList.id">

																<td>{{totalCount - (searchData.pageNo - 1) * 10 -
																	idx}}</td>

																<!-- 교수명 -->
																<td>{{obj.userNm}}</td>
																<!-- 상담 형태 -->
																<td>{{obj.noticeSeStr}}</td>
																<!-- 상담생수 -->
																<td>{{obj.noticeCo}}<span>명</span></td>
																<!-- 상담날짜 -->
																<td><a href="javascript:;" class="link-style"
																	@click="fnNoticeOperationDetail(obj.noticeSeq,obj.noticeSn)">{{obj.noticeDt}}
																</a></td>
																<!-- 상담요일 -->
																<td id="noticeWeekArrayTd" class="noticeWeekArrayTd"><span class="noticeWeekArray" id="noticeWeekArray">{{obj.noticeWeekArray}}</span></td>
																<!-- 상담시간 -->
																<td>
																	{{obj.noticeBeginTimeHour}}:{{obj.noticeBeginTimeMinutes}}~{{obj.noticeEndTimeHour}}:{{obj.noticeEndTimeMinutes}}
																</td>
 
																<!-- 상담장소 -->
																<!-- 시간이랑 요일 곱한 값으로 횟수를 처리해야 함 -->
																<td>{{obj.noticePlaceNm}}</td>
																<!-- 신청상태 -->
																<td>{{obj.noticeStatus}}</td>
																<td><span id="" v-if="noticeUserSeq != '0'">{{noticeUserSeq}}</span><span id="" v-else>&nbsp; - </span> </td>
															</tr>
															<tr v-else>
																<td colspan="7">조회된 데이터가 없습니다.</td>
															</tr>

														</tbody>
													</table>
													<ul id="pagination"
														class="pagination justify-content-center"></ul>
												</div>
											</div>
										</div> 
									</div>
								</div>
							</div>
							<!-- ==== /searchList ==== -->
						</div>
					</div>
					<!-- ===== /container ====== -->
				</div>
				<!-- ===== /app ====== -->
			</div>
		</div>
	</div>


</body>
</html>