<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta
	content="A fully featured admin theme which can be used to build CRM, CMS, etc."
	name="description" />
<meta name="author" content="">
<title>메인페이지</title>
<link rel="stylesheet" href="/css/pc/style.css">
<link rel="stylesheet" href="/css/pc/aos.css">
<link rel="stylesheet" href="/css/pc/jquery-ui.css">
<link rel="stylesheet" href="/css/pc/swiper-bundle.min.css">
<link rel="stylesheet" href="/css/custom.css" />
<link rel="stylesheet" href="/css/style_legacy.css">
<script src="/js/aos.js"></script>
<script src="/js/swiper-bundle.min.js"></script> 
<script src="/js/allVendors.js"></script>
<script src="/js/common.js"></script> 
<script src="/sch/js/huss/dashBoard/noticeSlider.js"></script>
</head>
<body>
	   <!-- header --> 
    <header id="header_wrap"></header>
	<!-- ===== /header ====== -->
	<div id="wrapper">
	 
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content" class="pt-0">
				<!-- ===== app ====== -->
				<div id="app">  
					
		<!-- container -->
		<div class="container " id="container">
			<div class="contents_full main_banner">
				<div class="main_banner_swiper">
					<div class="swiper mainbannerswiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide"
								style="justify-content: center; display: flex;">
								<div class="main_banner_img">
									<div class="main_banner_title">
										<h2 data-aos="fade-right" data-aos-once="true"
											data-aos-duration="1800">최애 연애인이랑 함께하는 포토부스</h2>
										<p data-aos="fade" data-aos-once="true"
											data-aos-duration="2000">
											콘서트, 뮤지컬, 팬미팅, 공연에서 특별한 경험을 가져가세요. <br> 이미지 생성 AI와 함께하는
											최애배우 포토박스
										</p>
										<a href="/sch/huss/dashBoard/program.html">
											<button data-aos="fade" data-aos-once="true"
												data-aos-duration="2000">최애배우 포토박스</button>
										</a>
									</div>
									<img src="/images/pc/main_banner.png" alt=""
										style="border-radius: 4em; width: 70em; height: 500px;">
								</div>
							</div>
							<div class="swiper-slide"
								style="justify-content: center; width: 1800px; display: flex;">
								<div class="main_banner_img">
									<div class="main_banner_title">
										<h2 data-aos="fade-right" data-aos-once="true"
											data-aos-duration="1800">이미지 생성 AI 통한 MZ 맞춤 서비스</h2>
										<p data-aos="fade" data-aos-once="true"
											data-aos-duration="2000">
											콘서트, 뮤지컬, 팬미팅, 공연에서 특별한 경험을 가져가세요. <br> 이미지 생성 AI와 함께하는
											최애배우 포토박스
										</p>

										<a href="/sch/huss/dashBoard/business.html">
											<button data-aos="fade" data-aos-once="true"
												data-aos-duration="2000">비즈니스 소개</button>
										</a> 
									</div>
									<img src="/images/pc/rebecca.png" alt=""
										style="border-radius: 4em; width: 70em; height: 500px;">
								</div>
							</div>
							<div class="swiper-slide"
								style="justify-content: center; width: 1800px; display: flex;">
								<div class="main_banner_img">
									<div class="main_banner_title">
										<h2 data-aos="fade-right" data-aos-once="true"
											data-aos-duration="1800">
											소개3 <br>

										</h2>
										<p data-aos="fade" data-aos-once="true"
											data-aos-duration="2000">
											소개3<br>

										</p>

										<a href="/sch/huss/notice/noticeList.html">
											<button data-aos="fade" data-aos-once="true"
												data-aos-duration="2000">공지사항</button>
										</a>  
									</div>
									<img src="/images/pc/rectangle.png" alt=""
										style="border-radius: 4em; width: 70em; height: 500px;">
								</div>
							</div>
						</div>

						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>

				</div>
			</div>
			<div class="contents_01"
				style="position: relative; z-index: 1; transform: translateY(-35%); margin-top: 13em;">
				<div data-aos="fade-up" data-aos-once="true">
					<div class="main_start_box_wrap"
						style="justify-content: space-evenly;">
						<div class="main_start_box">
							<div class="main_start_box_left01" style="text-wrap: nowrap;">
								<p>
									나의 최애와 함께하는 특별한 경험<br> 최애 포토박스
								</p>
								<p>지금 바로 참여해 보세요!</p>
							</div>
							<div class="main_start_box_right01 ml15">
								<a href="/sch/huss/dashBoard/business.html">
									<button class="btn_type01">참여하기</button>
								</a>
							</div>

						</div>
						<div id="loginsection">
							<div id="loginbox">
								<div class="main_start_box">
									<div class="main_start_box_left02">
										<div class="input_row">
											<div class="bx_flex jc_sb">
												<div class="main_box_left02_title">
													<h2>아이디</h2>
												</div>
												<div class="main_box_left02_input">
													<input id="adminLoginId" class="text_clear_inpt_54"
														placeholder="이메을 입력해주세요" type="text">
												</div>
											</div>
											<div class="bx_flex jc_sb mt8 ">
												<div class="main_box_left02_title">
													<h2>비밀번호</h2>
												</div>
												<div class="main_box_left02_input">
													<input id="currentpassword" class="text_clear_inpt_54"
														placeholder="비밀번호 입력해주세요" type="password">
												</div>
											</div>
										</div>
									</div>
									<div class="main_start_box_right02 ml15">
										<button onclick="util.login()" href="javascript:;"
											class="btn_type01" id="currentpassword">로그인</button>
									</div>

								</div>
							</div>
						</div>

						<section id="afterLogin">
							<div class="main_start_box">
								<section id="afterinnerLogin">
									<div class="main_start_box_left01">
										<p>
										<p id="userNm"></p>
										안녕하세요!
										</p>
										<p>콘서트, 뮤지컬, 팬미팅, 공연에서 특별한 경험을 가져가세요.</p>
									</div>
									<div class="main_start_box_right01"></div>
								</section>
								<a href="/sch/huss/login/agreeChangePw.html">
									<button class="btn_type01" style="margin-left: 35px;" >
										회원정보 <br> 변경하기
									</button>
								</a>
							</div>
						</section>
						<div id="afterLogin2">
							<div class="main_start_box">
								<div id="afterinnerLogin"></div>
							</div>
						</div>
					</div>
					<div class="main_notice_box_wrap mt40">
						<div class="main_notice_box_head">
							<div class="main_notice_box_title">
								<h2>Notice</h2>
								<p>이미지 생성 AI와 함께하는 최애배우 포토박스 소개</p>
							</div>
							<div class="main_notice_box_more bx_flex ai_center">
								<a href="/sch/huss/notice/noticeList.html">
									<button class="btn_type02"  >
										공지사항 바로가기
									</button>
								</a>
							 
							</div>
						</div>
						<!--==공지사항 크로쉘2==-->
						<div class="" id="goNotice">

							<div class="slider" >
								<div class="inner" >
									<ul class="swiper-wrapper slide_list" id="swiperUL"   style="width: 500px;"  >
										<li class="swiper-slide" id="swiperPerSlide" v-for="(obj, idx) in noticeSlideList" v-if="noticeSlideList.length" v-bind:key="noticeSlideList.id" >
										<a	 href="javascript:;"  @click="fnDtail(obj.noticeSeq)"
											class="main_notice_mid_card">
												<div class="main_notice_mid_card_head" id="noticeSlideSj">
													<h2>{{obj.noticeSj}}</h2>
												</div>
												<div class="main_notice_mid_card_mid" id="noticeSlideCn">
													{{obj.noticeCn}}
												</div>
												<div class="main_notice_mid_card_foot mt30" id="noticeSlideDt">
													<span>>{{obj.registDt}} </span>
												</div>
										</a></li> 
										<li v-else>조회된 데이터가 없습니다.</li>
									</ul>
								</div>
								<div style="float:right; margin-top: 10px;">
								<span class="btn btn_prev"><img src="/images/pc/leftArrow.png" style="width:60px; height:50px;" alt="이전아이콘"> </span>
								<span class="btn btn_next"><img src="/images/pc/rightArrow.png" style="width:60px; height:50px; margin-left:10px;"  alt="다음아이콘"> </span>
								</div>
								
								 
							</div>
						</div>

						<!--======크로쉘2======-->
					</div>
					 
			</div>
		</div>

		</div>

		<!-- footer -->
		<footer id="footer_wrap"></footer>
		<!-- // footer -->
	</div> 
 
	<script>
	
		const mySwiper = new Swiper('.swiper-container', {
		  direction: 'horizontal',
			speed: 500,
			//  slidesPerView: 2
		  navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		  },
		  centeredSlides: true, // 1번 슬라이드가 가운데 보이기
		
		});
		
			var mySwiper2 = new Swiper('.swiper-container2', {
				direction: 'horizontal',
				speed: 500,
					slidesPerView: 4,
					slidesPerGroup: 4,
					observer: true,
					observeParents: true,
					spaceBetween: 24,
					navigation: {
							nextEl: '.swiper-button-next2',
							prevEl: '.swiper-button-prev2',
					},
					centeredSlides: true, // 1번 슬라이드가 가운데 보이기
				
			});
			
		
			$(window).on('load', function () {
			slider();  
		})
		
		function slider(){
			$(".slider").each(function(index){
				let $this = $(this);
				let swiper = undefined;
				let slideNum =  $this.find('.swiper-slide').length //슬라이드 총 개수
				let slideInx = 0; //현재 슬라이드 index
				
				//디바이스 체크
				let oldWChk = window.innerWidth > 768 ? 'pc' : 'mo';
				sliderAct();
				$(window).on('resize', function () {
					let newWChk = window.innerWidth > 768 ? 'pc' : 'mo';
					if(newWChk != oldWChk){
						oldWChk = newWChk;
						sliderAct();
					}
				})
		
				function sliderAct(){
					//슬라이드 인덱스 클래스 추가
					$this.addClass(`slider${index}`);
		
					//슬라이드 초기화 
					if (swiper != undefined){ 
						swiper.destroy();
						swiper = undefined;
					}
		
					//slidesPerView 옵션 설정
					let viewNum = oldWChk == 'pc' ? 5 : 2;
					//loop 옵션 체크
					let loopChk = slideNum > viewNum;
		
					swiper = new Swiper(`.slider${index} .inner`, {
						slidesPerView: viewNum,
						initialSlide :slideInx,
						spaceBetween: 10,
						slidesPerGroup: 1,
						loop: loopChk,
						navigation: {
							prevEl: $(`.slider${index} .btn_prev`)[0],
							nextEl: $(`.slider${index} .btn_next`)[0],
						},
						on: {
							activeIndexChange: function () {
								slideInx = this.realIndex; //현재 슬라이드 index 갱신
							}
						},
					});
				}
			});
		}
		
		</script>
			<script>
			  var swiper = new Swiper(".mainbannerswiper", {
				navigation: {
				  nextEl: ".swiper-button-next",
				  prevEl: ".swiper-button-prev",
				},
			  });
			  let DISPATCHER_GET = "/dashBoard/dispatcher.api";
		
		
			/*
			 $.ajax({
					type: "get",
					url: "/dashBoard/dispatcher.api",
					datatype: "json",
					contentType: "application/json",
					success: (res) => {
						console.log(res)
					},
					error: function (e) {
						console.log(e.responseJSON);
					},
				})
			*/
			  const kakaoAccessToken = document.cookie.split("; ")[0].split("=")[1];
			  console.log()
			  // 일반로그인일때 와 카카오 로그인할때 쿠키값 여부에 따라 로그인 할 수 있는 창 을 회원정보 수정페이지 버튼으로 이동하기 
			  // 값이 있다면 로그인 버튼에 class를 추가해서 display none으로 만들어주기, 그리고 수정페이지버튼 가는 class에서 display none을 remove시키기
			  const loginsectionDiv = document.querySelector("#loginsection");
			  const innserloginsectionDiv =document.querySelector("#loginbox");
			  const afterLoginDiv = document.querySelector("#afterLogin");
			  const innerafterinnerLogin = document.querySelector("#afterinnerLogin");
			  
			  if(util.getToken()=== null){
				  if(!(kakaoAccessToken === undefined)){
				  console.log('카카오 로그인 한상태 1');
				  document.querySelector("#afterLogin2").remove()
					document.querySelector("#loginbox").classList.add("toggleLogin");
				   document.querySelector("#loginsection").classList.add("beforeLogin");	// afterLoginㄴ
				  innerafterinnerLogin.innerHTML = "<div>"+ " 안녕하세요!</div>"+"<br/><p>환영합니다.</p>"
				  }else{ 
				  console.log('일반 로그인안한상태');
				  document.querySelector("#afterLogin").remove()
				   document.querySelector("#afterLogin2").remove()
				  }
			  }else if(!(util.getUserSeq() === undefined)){
				  // 로그인 값이 있어서 로그인 될때
				  console.log("로그인상태1")
			  document.querySelector("#afterLogin2").remove()
				document.querySelector("#loginbox").classList.add("toggleLogin");
				   document.querySelector("#loginsection").classList.add("beforeLogin");	// afterLogin
				  innerafterinnerLogin.innerHTML = "<div>"+ util.getuserNm() +"님 안녕하세요!</div>"+"<br/><p>환영합니다.</p>"
						  //  document.querySelector("#afterLogin").remove();	//  
			  }else if(!(kakaoAccessToken===null) || !(util.getUserSeq() === undefined)){
				console.log("로그인상태2")
				   document.querySelector("#loginsection").classList.add("beforeLogin");	// afterLogin
				  innerafterinnerLogin.innerHTML = "<div>"+ "님 안녕하세요!</div>"+"<br/><p>환영합니다.</p>"
			  }
		
		 
			  
			</script>
			<script> 
				AOS.init();
			</script>
</body>
</html>