<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="mask-icon" href="/favicon.svg" color="#000000">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HUSS</title>
    
    <link rel="stylesheet" href="/css/common.css">

    <link rel="stylesheet" href="/resources/css/common/aos.css">
    <link rel="stylesheet" href="/resources/css/common/jquery-ui.css">
    <link rel="stylesheet" href="/resources/css/pc/style.css">

    <script src="/js/allVendors.js"></script>
    <script src="/js/common.js"></script>

    <script src="/sch/js/huss/community/communityList.js"></script>
</head>


<body>

    <!-- skip -->
    <div class="skip">
        <a href="#container">본문 바로가기</a>
    </div>
    <!-- // skip -->
    <div class="wrapper">
        <!-- background --> 
       
        <!-- header -->
        <header class="header_wrap"></header>
        <!-- // header -->
        <!-- container -->
        <div class="container " id="container">
            <div class="contents_full sub_top_banner_wrap">
                <div class="sub_top_banner02">
                    <h2>정보마당</h2>
                </div>
            </div>
            <div class="contents_02 mt60">
                <div class="toggle-button" :class="{right: isAward}">
                    <div class="pill"></div>
                    <div class="toggle-text left" @click="fnToggle(false)" :class="{on: !isAward}">자유 게시</div>
                    <div class="toggle-text right" @click="fnToggle(true)" :class="{on: isAward}">수상작</div>
                </div>
                <!-- 수상 -->
                <div id="tabs-1" style="padding-bottom: 100px;">
                    <div class="community_wrap">
                        <div class="search_wrap mt24">
                            <div class="input_wrap bx_flex ai_center gap10 fw100">
                                <div class="bx_inp ty2  ">
                                    <div class="sel_typ3 sel_wid206 "><!-- 선택 시 .on class -->
                                        <!-- 23.08.31 select 수정 -->
                                        <select v-model="searchData.searchDivision" id="lang" name="total">
                                            <option value="" selected="">전체</option>
                                            <option value="communitySj">제목</option>
                                            <option value="registNm">작성자</option>
                                        </select>
                                        <label for="total" class="icoArrow"></label>
                                    </div>
                                </div>
                                <input @keydown.enter="fnSearch" v-model="searchData.searchText" type="text" class="inp_text_48 w400" placeholder="검색어를 입력해 주세요">
                                <button @click="fnSearch" class="btn_type06">검색</button>
                            </div>
                        </div>
                        <div class="total_area bx_flex jc_sb mt24">
                            <div class="total_wrqp bx_flex ai_center">
                                <h2>Total</h2>
                                <p class="ml10" v-text="totalCount">
                                </p>
                            </div>
                            <div class="board_category_area ">
                                <ul class="board_category bx_flex gap16">
                                    <li @click="fnTagAt('')" :class="{on : searchData.tagAt == ''}">
                                        <a href="javascript:void(0)">All</a>
                                    </li>
                                    <div class="line04">
                                        <img src="/resources/images/pc/Line03.png" alt="">
                                    </div>
                                    <li @click="fnTagAt('V')" :class="{on : searchData.tagAt == 'V'}">
                                        <a href="javascript:void(0)">Video</a>
                                    </li>
                                    <div class="line04">
                                        <img src="/resources/images/pc/Line03.png" alt="">
                                    </div>
                                    <li @click="fnTagAt('P')" :class="{on : searchData.tagAt == 'P'}">
                                        <a href="javascript:void(0)"> Poster</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card_board_wrap mt16">
                            <!-- 리스트 -->
                            <ul class="card_board_area">
                                <li v-for="(community, idx) in communityList" :key="idx">
                                    <a @click="fnDetail(community)" href="javascript:void(0);" class="card">
                                        <div class="card_head">
                                            <div v-if="community.tagAt == 'V'" class="img_holder play_icon">
                                                <video>
                                                    <!-- <source src="/sample/fileDownload.api?fileSeq=FILE_00000283#1.0" type="video/mp4"> -->
                                                    <source :src="util().getPlayVideoUrl(community.fileSeq) + '#1.0'" type="video/mp4">
                                                </video>
                                            </div>      

                                            <div v-if="community.tagAt == 'P'" class="img_holder">
                                                <!-- <img src="/sample/fileDownload.api?fileSeq=FILE_00000275" alt=""> -->
                                                <img :src="community.fileSeq ? util().getDownloadUrl(community.fileSeq) : '/resources/images/pc/community.png'" alt="">
                                            </div>
                                        </div>
                                        <div class="card_body">
                                            <div class="card_content" :data-award="community.awardAt">
                                                <h2 class="ellips" v-text="isAward ? community.awardSj : community.communitySj"></h2>
                                                <p class="mt16 ellips5" v-text="isAward ? community.awardCn : community.communityCn"></p>
                                                <span class="mt22" v-text="util().date.getSchAdDateForamt(community.registDt)"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div id="pagination" class="paging02 mt40"></div>

                            <div v-show="!isAward && isLogin" class="btn_box tr">
                                <button onclick="location.href='/sch/huss/community/communityInsert.html'" class="btn_type06" style="transform: translateY(-90%);">글쓰기</button>
                            </div>

                            <div v-show="!communityList.length" class="none_contents">
                                <p class="tc fs20" v-text="'해당하는 게시물이 없습니다.'"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // container -->
        <!-- footer -->
        <footer class="footer"></footer>
        <!-- // footer -->
    </div>
</body>

</html>