<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	커뮤니티 > select, insert, update, delete
-->

<mapper namespace="community">

<sql id="sql_FaqList">
		SELECT 
			bbs_code 
			, bbs_seq
			, bbs_se
			, bbs_sj
			, bbs_cn  
			, DATE_FORMAT(tbs.regist_dt, '%Y-%m-%d') AS regist_dt
			, tbs.use_at
			, file_seq
		FROM tb_bbs tbs  
		WHERE tbs.bbs_code = 'COMMUNITY'
			<if test='@com.sch.util.CommonUtil@isNotEmpty(bbsSe)'>
				AND bbs_se = #{bbsSe}
			</if>
			<if test='@com.sch.util.CommonUtil@isNotEmpty(searchText)'>
				AND (bbs_sj LIKE concat('%', #{searchText} , '%')
					OR bbs_cn LIKE concat('%', #{searchText} , '%'))
			</if>
		ORDER BY tbs.regist_dt DESC
	</sql>
	
	<select id="selectFaqListPaging" parameterType="map" resultType="camelHashMap">
      /* community.sql_FaqListPaging */
      <include refid="sql_FaqList"/>
      <include refid="common.PAGING"/>
  </select>
  
  <select id="selectFaqListPagingCount" parameterType="map" resultType="camelHashMap">
      /* community.sql_FaqListPagingCount */
      <include refid="common.COUNT_HEAD"/>
      <include refid="sql_FaqList"/>
      <include refid="common.COUNT_FOOT"/>
  </select>
  

    <sql id="sql_communityList">
        /* community.sql_communityList */
        SELECT
        tc.community_seq		-- 커뮤니티일련
        , tc.community_sj		-- 커뮤니티제목
        , tc.file_seq           -- 파일일련
        , tc.community_cn		-- 커뮤니티내용
        , tc.division           -- 종류구분(F: 자유게시, P: 수상작)
        , tc.tag                -- 태그구분(video, poster)
        , tc.user_nm			-- 등록자 이름
        , tc.orignl_file_nm     -- 본래파일명
        , tc.file_cours         -- 파일경로
        , LEFT(tc.regist_dt, 10) as regist_dt-- 등록일시
        FROM tb_community tc 
        WHERE 1 = 1 
        ORDER BY tc.community_seq DESC
    </sql>

    <select id="selectCommunityListPaging" parameterType="map" resultType="camelHashMap">
        /* community.selectCommunityListPaging */
        <include refid="sql_communityList"/>
        <include refid="common.PAGING"/>
    </select>
    
    <select id="selectCommunityListPagingCount" parameterType="map" resultType="camelHashMap">
        /* community.selectCommunityListPagingCount */
        <include refid="common.COUNT_HEAD"/>
        <include refid="sql_communityList"/>
        <include refid="common.COUNT_FOOT"/>
    </select>

    
  
    <insert id="insertCommunity" parameterType="map">
     
        /* community.insertCommunity */
        INSERT INTO tb_community
        (
        community_seq
        , community_sj      -- 커뮤니티제목
        , regist_dt         -- 등록일시
        , community_cn      -- 내용
        , regist_id         -- 등록ID
        <if test='@com.sch.util.CommonUtil@isNotEmpty(division)'>
            , division          -- 종류구분(F: 자유게시, P: 수상작)
        </if>
        , tag               -- 태그구분(video, poster)
        , file_seq          -- 파일일련
        , file_detail_sn    -- 파일상세순번
        , orignl_file_nm    -- 본래파일명
        , file_cours        -- 파일경로
        , thumbnail_file_seq          -- 썸네일파일일련
        , thumbnail_file_detail_sn    -- 썸네일파일상세순번
        , thumbnail_orignl_file_nm    -- 썸네일본래파일명
        , thumbnail_file_cours        -- 썸네일파일경로
        )
        VALUES
        (
        #{communitySeq}
        , #{communitySj}
        , current_timestamp()
        , #{communityCn}
        , #{user.userSeq}
        <if test='@com.sch.util.CommonUtil@isNotEmpty(division)'>
            , #{division}
        </if>
        , #{tag}
        , #{fileSeq}
        , #{fileDetailSn1}
        , #{orignlFileNm1}
        , #{fileCours1}
        , #{fileSeq}
        , #{fileDetailSn2}
        , #{orignlFileNm2}
        , #{fileCours2}
        )
    </insert>

    <select id="selectCommunity" parameterType="map" resultType="camelHashMap">
        /* community.selectCommunity */
        SELECT
        tc.community_seq		-- 커뮤니티일련
        , tc.community_sj		-- 커뮤니티제목
        , tc.file_seq           -- 파일일련
        , tc.community_cn		-- 커뮤니티내용
        , tc.division           -- 종류구분(F: 자유게시, P: 수상작)
        , tc.tag                -- 태그구분(video, poster)
        , tu.user_nm			-- 등록자 이름
        , tc.orignl_file_nm     -- 본래파일명
        , tc.file_cours         -- 파일경로
        , LEFT(tc.regist_dt, 10) as regist_dt -- 등록일시
        FROM tb_community tc
            LEFT JOIN tb_user tu ON tu.user_seq = tc.regist_id
        WHERE tc.community_seq = #{communitySeq}
    </select>

    <select id="selectPrevCommunity" parameterType="map" resultType="camelHashMap">
        /* community.selectPrevCommunity */
        SELECT community_seq
        FROM tb_community
        WHERE community_seq <![CDATA[<]]> (SELECT community_seq FROM tb_community WHERE community_seq = #{communitySeq})
        ORDER BY community_seq DESC
            LIMIT 1
    </select>

    <select id="selectNextCommunity" parameterType="map" resultType="camelHashMap">
        /* community.selectNextCommunity */
        SELECT community_seq
        FROM tb_community
        WHERE community_seq <![CDATA[>]]> (SELECT community_seq FROM tb_community WHERE community_seq = #{communitySeq})
        ORDER BY community_seq ASC
            LIMIT 1
    </select>

    <update id="updateCommunity" parameterType="map">
        UPDATE tb_community
        SET
        <if test='@com.sch.util.CommonUtil@isNotEmpty(communitySj)'>
            community_sj = #{communitySj},
        </if>
        <if test='@com.sch.util.CommonUtil@isNotEmpty(fileSeq)'>
            file_seq = #{fileSeq},
        </if>
        <if test='@com.sch.util.CommonUtil@isNotEmpty(communityCn)'>
            community_cn = #{communityCn},
        </if>
        <if test='@com.sch.util.CommonUtil@isNotEmpty(division)'>
            division = #{division},
        </if>
        <if test='@com.sch.util.CommonUtil@isNotEmpty(tag)'>
            tag = #{tag},
        </if>
        <if test='@com.sch.util.CommonUtil@isNotEmpty(user.userSeq)'>
            updt_id = #{user.userSeq},
        </if>
        updt_dt = NOW()
        WHERE community_seq = #{communitySeq}
    </update>

    <select id="getTotalCount" parameterType="map" resultType="camelHashMap">
        SELECT COUNT(*) AS total_data FROM tb_community
        <if test='@com.sch.util.CommonUtil@isNotEmpty(division)'>
            WHERE division = #{division}
        </if>
    </select>
</mapper>