<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common">

	<sql id="PAGING">

		<if test="@com.sch.util.CommonUtil@isNotEmpty(pageLength) and @com.sch.util.CommonUtil@isNotEmpty(pageNo)"> 
		LIMIT #{pageLength}  
		</if>
	</sql>

	<sql id="COUNT_HEAD">
		SELECT count(1) AS count
		  FROM (
	</sql>

	<sql id="COUNT_FOOT">
		) RES
	</sql>


</mapper>